<a href="https://colab.research.google.com/github/heyggun/bigdata_analysis_test/blob/main/DataManim_type1_case2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# 작업형 1유형

- https://www.datamanim.com/dataset/03_dataq/typeone.html#id8

### 지역구 에너지 소비량 데이터

- 데이터 출처 : https://archive.ics.uci.edu/ml/datasets/Power+consumption+of+Tetouan+city (참고, 데이터 수정)
데이터 설명 : 기온, 습도,바람풍속에 따른 도시의 3개 지역구의 에너지 소비량
- data url = https://raw.githubusercontent.com/Datamanim/datarepo/main/consum/Tetuan%20City%20power%20consumption.csv

In [1]:
import pandas as pd
import numpy as np

In [2]:
DataUrl = 'https://raw.githubusercontent.com/Datamanim/datarepo/main/consum/Tetuan%20City%20power%20consumption.csv'
df = pd.read_csv(DataUrl)
df.head(3)

,DateTime,Temperature,Humidity,Wind Speed,general diffuse flows,diffuse flows,Zone 1 Power Consumption,Zone 2 Power Consumption,Zone 3 Power Consumption
0,1/1/2017 0:00,6.559,73.8,0.083,0.051,0.119,34055.69620,16128.87538,20240.96386
1,1/1/2017 0:10,6.414,74.5,0.083,0.070,0.085,29814.68354,19375.07599,20131.08434
2,1/1/2017 0:20,6.313,74.5,0.080,0.062,0.100,29128.10127,19006.68693,19668.43373

Q. DateTime컬럼을 통해 각 월별로 몇개의 데이터가 있는지 데이터 프레임으로 구하여라

In [3]:
df['DateTime'] = pd.to_datetime(df['DateTime'])

df.groupby(df['DateTime'].dt.month).size()

DateTime
1     4464
2     4032
3     4464
4     4320
5     4464
6     4320
7     4464
8     4464
9     4320
10    4464
11    4320
12    4320
dtype: int64

In [4]:
df['DateTime'].dt.month.value_counts().sort_index().to_frame()

    DateTime
1       4464
2       4032
3       4464
4       4320
5       4464
6       4320
7       4464
8       4464
9       4320
10      4464
11      4320
12      4320

Q. 3월달의 각 시간대별 온도의 평균들 중 가장 낮은 시간대의 온도를 출력하라

In [5]:
temp = df[df['DateTime'].dt.month ==3]
temp.groupby(df['DateTime'].dt.hour)['Temperature'].mean().sort_values().values[0]

11.506612903225806

Q. 3월달의 각 시간대별 온도의 평균들 중 가장 높은 시간대의 온도를 출력하라

In [6]:
temp = df[df['DateTime'].dt.month==3]
temp.groupby(temp['DateTime'].dt.hour)['Temperature'].mean().sort_values(ascending=False).values[0]

18.393602150537635

Q. Zone 1 Power Consumption 컬럼의 value값의 크기가 Zone 2 Power Consumption 컬럼의 value값의 크기보다 큰 데이터들의 Humidity의 평균을 구하여라

In [7]:
df.columns

Index(['DateTime', 'Temperature', 'Humidity', 'Wind Speed',
       'general diffuse flows', 'diffuse flows', 'Zone 1 Power Consumption',
       'Zone 2  Power Consumption', 'Zone 3  Power Consumption'],
      dtype='object')

In [8]:
df.loc[df['Zone 1 Power Consumption'] > df['Zone 2  Power Consumption']]['Humidity'].mean()

68.23624448055094

Q. 각 zone의 에너지 소비량의 상관관계를 구해서 데이터 프레임으로 표기하라

In [9]:
temp = df.iloc[:,-3:]
temp.corr()

,Zone 1 Power Consumption,Zone 2 Power Consumption,Zone 3 Power Consumption
Zone 1 Power Consumption,1.000000,0.834519,0.750733
Zone 2 Power Consumption,0.834519,1.000000,0.570932
Zone 3 Power Consumption,0.750733,0.570932,1.000000

Q. Temperature의 값이 10미만의 경우 A, 10이상 20미만의 경우 B,20이상 30미만의 경우 C, 그 외의 경우 D라고 할때 각 단계의 데이터 숫자를 구하여라

In [10]:
def get_num(x):
  x = int(x)
  if x <10:
    result = 'A'
  elif 10<=x<20:
    result = 'B'
  elif 20<=x<30:
    result = 'C'
  else:
    result = 'D'

  return result


temp = df.copy()
temp['result'] = temp['Temperature'].apply(get_num)
temp['result'].value_counts()

B    26993
C    21105
A     2874
D     1444
Name: result, dtype: int64

Q. 6월 데이터중 12시의 Temperature의 표준편차를 구하여라

In [11]:
temp = df[df['DateTime'].dt.month==6]
temp[temp['DateTime'].dt.hour==12]['Temperature'].std()

2.049941782795103

Q. 6월 데이터중 12시의 Temperature의 분산을 구하여라

In [12]:
temp = df[df['DateTime'].dt.month==6]
temp[temp['DateTime'].dt.hour==12]['Temperature'].var()

4.202261312849164

Q. Temperature의 평균이상의 Temperature의 값을 가지는 데이터를 Temperature를 기준으로 정렬 했을때 4번째 행의 Humidity 값은?

In [13]:
df['Temperature'].mean()

df.loc[df['Temperature']>=df['Temperature'].mean()].sort_values(by='Temperature').iloc[3]['Humidity']

87.9

Q. Temperature의 중간값 이상의 Temperature의 값을 가지는 데이터를 Temperature를 기준으로 정렬 했을때 4번째 행의 Humidity 값

In [14]:
T_median = df['Temperature'].median()

df.loc[df['Temperature']>=T_median].sort_values(by='Temperature').iloc[3]['Humidity']

80.3

## 포켓몬 정보 데이터

- 데이터 출처 : https://www.kaggle.com/abcsds/pokemon (참고, 데이터 수정)
데이터 설명 : 포켓몬 정보
- dataurl = https://raw.githubusercontent.com/Datamanim/datarepo/main/pok/Pokemon.csv

In [15]:
DataUrl = 'https://raw.githubusercontent.com/Datamanim/datarepo/main/pok/Pokemon.csv'
df = pd.read_csv(DataUrl)
df.head(3)

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,405,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,525,80,82,83,100,100,80,1,False

In [16]:
df.columns

Index(['#', 'Name', 'Type 1', 'Type 2', 'Total', 'HP', 'Attack', 'Defense',
       'Sp. Atk', 'Sp. Def', 'Speed', 'Generation', 'Legendary'],
      dtype='object')

In [17]:
df['Legendary'].value_counts()

False    735
True      65
Name: Legendary, dtype: int64

In [18]:
abs(df.groupby(['Legendary'])['HP'].mean()[False] - df.groupby(['Legendary'])['HP'].mean()[True] )

25.55614861329147

Q. Type 1은 주속성 Type 2 는 부속성을 나타낸다. 가장 많은 부속성 종류는 무엇인가?

In [19]:
df['Type 2'].value_counts().index[0]

'Flying'

Q. 가장 많은 Type 1 의 종의 평균 Attack 을 평균 Defense로 나눈값은?

In [20]:
most_Type1 = df['Type 1'].value_counts().index[0]

df[df['Type 1']==most_Type1]['Attack'].mean()  / df[df['Type 1']==most_Type1]['Defense'].mean()

1.0165238678090576

Q. 포켓몬 세대(Generation) 중 가장많은 Legendary를 보유한 세대는 몇세대인가?

In [21]:
df.groupby('Generation')['Legendary'].sum().sort_values(ascending=False).index[0]

3

Q. ‘HP’, ‘Attack’, ‘Defense’, ‘Sp. Atk’, ‘Sp. Def’, ‘Speed’ 간의 상관 계수중 가장 절댓값이 큰 두 변수와 그 값을 구하여라

In [22]:
temp = df[['HP', 'Attack', 'Defense', 'Sp. Atk', 'Sp. Def', 'Speed']].corr().unstack().reset_index().rename(columns={0:'corr'})
Ans = temp[temp['corr']!=1].sort_values(by='corr', ascending=False).iloc[0]
Ans

level_0     Sp. Def
level_1     Defense
corr       0.510747
Name: 26, dtype: object

In [23]:
df[['HP', 'Attack', 'Defense', 'Sp. Atk', 'Sp. Def', 'Speed']].corr().unstack().reset_index().rename(columns={0:'corr'}).head(3)

  level_0  level_1      corr
0      HP       HP  1.000000
1      HP   Attack  0.422386
2      HP  Defense  0.239622

In [24]:
df[['HP', 'Attack', 'Defense', 'Sp. Atk', 'Sp. Def', 'Speed']].corr().unstack().to_frame().rename(columns={0:'corr'}).head(3)

                corr
HP HP       1.000000
   Attack   0.422386
   Defense  0.239622

Q. 각 Generation의 Attack으로 오름차순 정렬시 상위 3개 데이터들(18개)의 Attack의 전체 평균을 구하여라

In [25]:
temp = df.copy()
temp = temp.sort_values(['Generation','Attack'])
temp.groupby('Generation').head(3)['Attack'].mean()

19.5

Q. 각 Generation의 Attack으로 내림차순 정렬시 상위 5개 데이터들(30개)의 Attack의 전체 평균을 구하여라

In [26]:
temp = df.copy()
temp = temp.sort_values(['Generation','Attack'], ascending=False).groupby('Generation').head(5)
temp['Attack'].mean()

157.23333333333332

Q. 가장 흔하게 발견되는 (Type1 , Type2) 의 쌍은 무엇인가?

In [27]:
df.groupby(['Type 1','Type 2']).size().sort_values(ascending=False).reset_index().iloc[0]

Type 1    Normal
Type 2    Flying
0             24
Name: 0, dtype: object

In [28]:
df[['Type 1','Type 2']].value_counts().head(1)

Type 1  Type 2
Normal  Flying    24
dtype: int64

Q. 한번씩만 존재하는 (Type1 , Type2)의 쌍의 갯수는 몇개인가?

In [29]:
(df[['Type 1','Type 2']].value_counts().values==1).sum()

39

In [30]:
temp = df[['Type 1','Type 2']].value_counts()
len(temp[temp==1])

39

Q. 한번씩만 존재하는 (Type1 , Type2)의 쌍을 각 세대(Generation)은 각각 몇개씩 가지고 있는가?

In [31]:
target = df[['Type 1','Type 2']].value_counts()
target2 =target[target==1]

lst = []
for value in target2.reset_index().values:
    t1 = value[0]
    t2 = value[1]
    
    sp = df[(df['Type 1']==t1) & (df['Type 2']==t2)]
    lst.append(sp)


result = pd.concat(lst).reset_index(drop=True)
result['Generation'].value_counts().sort_index()

1     1
2     4
3     5
4    13
5     7
6     9
Name: Generation, dtype: int64

## 대한민국 체력장 데이터

- 데이터 출처 : 국민체육진흥공단 (문화 빅데이터플랫폼) (참고, 데이터 수정)
- 데이터 설명 : 대한민국 국민 체력장 평가
data url = https://raw.githubusercontent.com/Datamanim/datarepo/main/body/body.csv

In [32]:
DataUrl = 'https://raw.githubusercontent.com/Datamanim/datarepo/main/body/body.csv'
df = pd.read_csv(DataUrl)
df.head(3)

,측정나이,측정회원성별,신장 : cm,체중 : kg,체지방율 : %,이완기혈압(최저) : mmHg,수축기혈압(최고) : mmHg,악력D : kg,앉아윗몸앞으로굽히기 : cm,교차윗몸일으키기 : 회,제자리 멀리뛰기 : cm,등급
0,59.0,M,175.0,70.6,19.2,91.0,150.0,40.6,12.2,30.0,179.0,C
1,40.0,F,161.4,45.8,21.7,62.0,119.0,22.1,16.0,32.0,165.0,B
2,27.0,M,176.6,84.8,19.2,87.0,153.0,45.9,13.2,61.0,216.0,B

Q. 전체데이터의 수축기혈압(최고) - 이완기혈압(최저)의 평균을 구하여라

In [33]:
df.isnull().sum()

측정나이                0
측정회원성별              0
신장 : cm             0
체중 : kg             0
체지방율 : %            0
이완기혈압(최저) : mmHg    0
수축기혈압(최고) : mmHg    0
악력D : kg            0
앉아윗몸앞으로굽히기 : cm     0
교차윗몸일으키기 : 회        0
제자리 멀리뛰기 : cm       0
등급                  0
dtype: int64

In [34]:
(df['수축기혈압(최고) : mmHg'] - df['이완기혈압(최저) : mmHg']).mean()

52.19539414750672

Q. 50~59세의 신장평균을 구하여라

In [35]:
df.loc[(50<=df['측정나이']) & (df['측정나이']<=59)]['신장 : cm'].mean()

164.07490107405295

Q. 연령대 (20~29 : 20대 …) 별 인원수를 구하여라

In [36]:
df['측정나이'].apply(lambda x: (x//10)*10).value_counts()

20.0    5831
30.0    2660
40.0    1801
50.0    1769
60.0    1335
Name: 측정나이, dtype: int64

Q. 연령대 (20~29 : 20대 …) 별 등급의 숫자를 데이터 프레임으로 표현하라

In [37]:
temp = df.copy()
temp['연령대'] = temp['측정나이'].apply(lambda x: (x//10)*10)
temp.groupby(['연령대','등급']).size()

연령대   등급
20.0  A     1585
      B     1443
      C     1455
      D     1348
30.0  A      743
      B      697
      C      626
      D      594
40.0  A      386
      B      428
      C      455
      D      532
50.0  A      321
      B      410
      C      474
      D      564
60.0  A      314
      B      371
      C      339
      D      311
dtype: int64

Q. 남성 중 A등급과 D등급의 체지방률 평균의 차이(큰 값에서 작은 값의 차)를 구하여라

In [38]:
temp = df.loc[df['측정회원성별']=='M']
M_A = temp[temp['등급']=='A']['체지방율 : %'].mean()
M_D = temp[temp['등급']=='D']['체지방율 : %'].mean()

abs(M_A - M_D)

7.932086486137457

Q. 여성 중 A등급과 D등급의 체중의 평균의 차이(큰 값에서 작은 값의 차)를 구하여라

In [39]:
temp = df.loc[df['측정회원성별']=='F']
F_A = temp[temp['등급']=="A"]['체중 : kg'].mean()
F_D = temp[temp['등급']=='D']['체중 : kg'].mean()

abs(F_A-F_D)

5.176211590296511

Q. bmi는 자신의 몸무게(kg)를 키의 제곱(m)으로 나눈값이다. 데이터의 bmi 를 구한 새로운 컬럼을 만들고 남성의 bmi 평균을 구하여라

In [40]:
df['bmi'] = (df['체중 : kg'] / ((df['신장 : cm']/100)**2))

df[df['측정회원성별']=='M']['bmi'].mean()

24.461344098193027

Q. bmi보다 체지방율이 높은 사람들의 체중평균을 구하여라

In [41]:
df.loc[df['bmi'] < df['체지방율 : %']]['체중 : kg'].mean()

61.740880639254314

Q. 남성과 여성의 악력 평균의 차이를 구하여라

In [42]:
df[df['측정회원성별']=='M']['악력D : kg'].mean() - df[df['측정회원성별']=='F']['악력D : kg'].mean()

17.559541850474677

In [43]:
Ans = df.groupby('측정회원성별')['악력D : kg'].mean()
Ans.M  - Ans.F

17.55954185047465

Q. 남성과 여성의 교차윗몸일으키기 횟수의 평균의 차이를 구하여라

In [44]:
Ans = df.groupby('측정회원성별')['교차윗몸일으키기 : 회'].mean()
Ans.M - Ans.F

14.243156833157627

## 기온 강수량 데이터

- 데이터 출처 : https://data.kma.go.kr/cmmn/static/staticPage.do?page=intro
데이터 설명 : 2020년도 이화동(서울) , 수영동(부산)의 시간단위의 기온과 강수량
- 데이터 url : https://raw.githubusercontent.com/Datamanim/datarepo/main/weather/weather2.csv

In [45]:
DataUrl = 'https://raw.githubusercontent.com/Datamanim/datarepo/main/weather/weather2.csv'
df = pd.read_csv(DataUrl)
df.head(3)

                  time  이화동강수  이화동기온  수영동강수  수영동기온
0  2020-01-01 00:00:00    0.1   -3.9    0.0    2.5
1  2020-01-01 01:00:00    0.0   -3.1    0.0    3.4
2  2020-01-01 02:00:00    0.0   -1.8    0.0    3.8

Q. 여름철(6월,7월,8월) 이화동이 수영동보다 높은 기온을 가진 시간대는 몇개인가?

In [46]:
df['time'] = pd.to_datetime(df['time'])

temp = df.loc[df['time'].dt.month.isin([6,7,8])]
temp.loc[df['이화동기온'] > df['수영동기온']].shape[0]

1415

Q. 이화동과 수영동의 최대강수량의 시간대를 각각 구하여라

In [47]:
print('이화동 최대강수량 시간대', df.loc[df['이화동강수'] == df['이화동강수'].max()]['time'])
print('수영동 최대강수량 시간대', df.loc[df['수영동강수'] == df['수영동강수'].max()]['time'])

이화동 최대강수량 시간대 6561   2020-09-30 09:00:00
Name: time, dtype: datetime64[ns]
수영동 최대강수량 시간대 4908   2020-07-23 12:00:00
Name: time, dtype: datetime64[ns]

In [48]:
print(df.loc[df['이화동강수']==df['이화동강수'].max()]['time'].values)
print(df.loc[df['수영동강수']==df['수영동강수'].max()]['time'].values)

['2020-09-30T09:00:00.000000000']
['2020-07-23T12:00:00.000000000']

## 서비스 이탈예측 데이터

- 데이터 출처 : https://www.kaggle.com/shubh0799/churn-modelling 에서 변형
데이터 설명 : 고객의 신상정보 데이터를 통한 회사 서비스 이탈 예측 (종속변수 : Exited)
- Data url : https://raw.githubusercontent.com/Datamanim/datarepo/main/churn/train.csv

In [49]:
DataUrl = 'https://raw.githubusercontent.com/Datamanim/datarepo/main/churn/train.csv'
df = pd.read_csv(DataUrl)
df.head(3)

,RowNumber,CustomerId,Surname,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,6842,15793491,Cherkasova,714,Germany,Male,26,3,119545.48,2,1,0,65482.94,0
1,8963,15607874,Keane,687,France,Male,38,0,144450.58,1,0,1,137276.83,0
2,7047,15737627,Rivero,589,Germany,Female,20,2,121093.29,2,1,0,3529.72,0

Q. 남성 이탈(Exited)이 가장 많은 국가(Geography)는 어디이고 이탈 인원은 몇명인가?

In [50]:
df.loc[df['Gender']=='Male'].groupby(['Geography'])['Exited'].sum().sort_values(ascending=False).head(1)

Geography
Germany    287
Name: Exited, dtype: int64

Q. 카드를 소유(HasCrCard ==1)하고 있으면서 활성멤버(IsActiveMember ==1) 인 고객들의 평균 나이를 소숫점이하 4자리까지 구하여라?

In [51]:
round(df.loc[(df['HasCrCard']==1) & df['IsActiveMember']==1]['Age'].mean(),4)

39.6102

Q. Balance 값이 중간값 이상을 가지는 고객들의 CreditScore의 표준편차를 소숫점이하 3자리까지 구하여라

In [52]:
round(df.loc[df['Balance'] >= df['Balance'].median()]['CreditScore'].std(),3)

97.295