<a href="https://colab.research.google.com/github/heyggun/bigdata_analysis_test/blob/main/DataManim_%EB%AA%A8%EC%9D%983.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# 모의고사

https://www.datamanim.com/dataset/practice/q3.html

## 3회차

### 작업 1 유형

- 데이터 출처 : link (후처리 작업)
데이터 설명 : 2010-2019 스포티파이 TOP100 노래
- dataurl : https://raw.githubusercontent.com/Datamanim/datarepo/main/spotify/spotify.csv

In [1]:
import pandas as pd
import numpy as np

In [2]:
dataURL = 'https://raw.githubusercontent.com/Datamanim/datarepo/main/spotify/spotify.csv'

In [3]:
df = pd.read_csv(dataURL)
display(df.head(3))

,title,artist,top genre,year released,added,bpm,nrgy,dnce,dB,live,val,dur,acous,spch,pop,top year,artist type
0,STARSTRUKK (feat. Katy Perry),3OH!3,dance pop,2009.0,2022‑02‑17,140.0,81.0,61.0,-6.0,23.0,23.0,203.0,0.0,6.0,70.0,2010.0,Duo
1,My First Kiss (feat. Ke$ha),3OH!3,dance pop,2010.0,2022‑02‑17,138.0,89.0,68.0,-4.0,36.0,83.0,192.0,1.0,8.0,68.0,2010.0,Duo
2,I Need A Dollar,Aloe Blacc,pop soul,2010.0,2022‑02‑17,95.0,48.0,84.0,-7.0,9.0,96.0,243.0,20.0,3.0,72.0,2010.0,Solo

Q1. 데이터는 현재 년도별 100곡이 인기순으로 정렬되어 있다. 각 년도별 1~100위의 랭킹을 나타내는 rank컬럼을 만들고 매년도 1위의 bpm컬럼의 평균값을 구하여라

In [4]:
df.shape

(1003, 17)

In [5]:
df = df.dropna()
df.shape

(1000, 17)

In [6]:
df.loc[:,'rank']= list(range(1,101))*10
df[df['rank']==1]['bpm'].mean()

125.6

Q2. 2015년도에 가장많은 top100곡을 올린 artist는 누구인가?

In [7]:
df.loc[df['top year']==2015]['artist'].value_counts()

Taylor Swift      4
The Weeknd        4
Selena Gomez      3
Fetty Wap         3
Avicii            2
                 ..
Mark Ronson       1
Alessia Cara      1
Meek Mill         1
Mumford & Sons    1
Zedd              1
Name: artist, Length: 78, dtype: int64

In [8]:
df.loc[df['top year']==2015]['artist'].value_counts().index[0]

'Taylor Swift'

Q3. 년도별 rank값이 1~10위 까지의 곡들 중 두번째로 많은 top genre는 무엇인가?

In [9]:
df[df['rank'].isin(range(1,11))]['top genre'].value_counts().index[1]

'atl hip hop'

Q4. 피처링의 경우 title에 표시된다. 피처링을 가장 많이 해준 가수는 누구인가?

In [10]:
temp = df[df['title'].str.contains('feat.')]
temp['title'] = temp['title'].apply(lambda x: x.split('feat.')[1])
temp['title'].apply(lambda x: x.split(')')[0].strip()).value_counts().index[0]

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

'Bruno Mars'

Q5. top year 년도를 기준으로 발매일(year released)과 top100에 진입한 일자 (top year)가 다른 곡의 숫자를 count 했을때 가장 많은 년도는?

In [11]:
int(df.loc[df['top year']!= df['year released']]['top year'].value_counts().index[0])

2016

Q6. artist 컬럼의 값에 대소문자 상관없이 q 단어가 들어가는 아티스트는 몇명인가?

In [12]:
df.loc[df['artist'].str.lower().str.contains('q')]['artist'].nunique()

6

Q7. 년도 상관없이 전체데이터에서 1-50위와 51-100위간의 dur 컬럼의 평균값의 차이는?

In [13]:
mean1 = df[df['rank'].isin(range(1,51))]['dur'].mean()
mean2 = df[df['rank'].isin(range(51,101))]['dur'].mean()

Ans = abs(mean1-mean2)
Ans

0.896000000000015

Q8. title을 띄어쓰기 단어로 구분 했을때 가장 많이 나온 단어는 무엇인가? (대소문자 구분 x)

In [14]:
df['title'].str.split('\(feat').str[0].str.split().explode().str.lower().value_counts().index[0]

'the'

Q9. 년도별 nrgy값의 평균값을 구할때 최대 평균값과 최소 평균값의 차이를 구하여라

In [15]:
Ans = df.groupby('top year')['nrgy'].mean().sort_values().values
Ans[-1] - Ans[0]

13.860000000000007

Q. artist중 artist type 타입을 여러개 가지고 있는 artist는 누구인가

In [16]:
df[['artist','artist type']].value_counts().reset_index()['artist'].value_counts().index[0]

'Rudimental'

In [17]:
result = df[['artist','artist type']].value_counts().reset_index().artist.value_counts().index[0]
print(result)

Rudimental

## 작업 2유형

- 데이터 설명 : 센서데이터로 동작 유형 분류 (종속변수 pose : 0 ,1 구분)

- x_train: https://raw.githubusercontent.com/Datamanim/datarepo/main/muscle/x_train.csv
- y_train: https://raw.githubusercontent.com/Datamanim/datarepo/main/muscle/y_train.csv
- x_test: https://raw.githubusercontent.com/Datamanim/datarepo/main/muscle/x_test.csv
출처(참고, 데이터 수정)

In [18]:
x_train = pd.read_csv('https://raw.githubusercontent.com/Datamanim/datarepo/main/muscle/x_train.csv')
y_train = pd.read_csv('https://raw.githubusercontent.com/Datamanim/datarepo/main/muscle/y_train.csv')
x_test = pd.read_csv('https://raw.githubusercontent.com/Datamanim/datarepo/main/muscle/x_test.csv')

In [19]:
display(x_train.head(3))
print(x_train.shape)

display(y_train.head(3))
print(y_train.shape)

display(x_test.head(3))
print(x_test.shape)

,ID,motion_0,motion_1,motion_2,motion_3,motion_4,motion_5,motion_6,motion_7,motion_8,...,motion_54,motion_55,motion_56,motion_57,motion_58,motion_59,motion_60,motion_61,motion_62,motion_63
0,0,1.0,-2.0,-1.0,4.0,-5.0,-4.0,1.0,0.0,-15.0,...,0.0,-1.0,-13.0,-3.0,1.0,-1.0,-32.0,-22.0,-2.0,-3.0
1,2,20.0,0.0,0.0,1.0,5.0,6.0,-52.0,18.0,15.0,...,-70.0,-55.0,-38.0,-14.0,-12.0,-8.0,-34.0,-63.0,-87.0,-77.0
2,4,1.0,-1.0,1.0,4.0,-5.0,-8.0,1.0,-3.0,-14.0,...,1.0,12.0,-25.0,0.0,0.0,3.0,2.0,-27.0,1.0,0.0

(4650, 65)

   ID  pose
0   0     1
1   2     0
2   4     1

(4650, 2)

,ID,motion_0,motion_1,motion_2,motion_3,motion_4,motion_5,motion_6,motion_7,motion_8,...,motion_54,motion_55,motion_56,motion_57,motion_58,motion_59,motion_60,motion_61,motion_62,motion_63
0,1,-12.0,-7.0,3.0,6.0,-21.0,-28.0,1.0,6.0,-18.0,...,2.0,20.0,-25.0,-2.0,1.0,0.0,12.0,-2.0,-1.0,-4.0
1,3,-9.0,-16.0,-2.0,-1.0,39.0,17.0,3.0,1.0,-9.0,...,0.0,1.0,-1.0,-5.0,-4.0,-7.0,56.0,28.0,1.0,6.0
2,8,-4.0,-1.0,-1.0,1.0,3.0,-1.0,4.0,7.0,3.0,...,-4.0,-8.0,5.0,2.0,0.0,2.0,13.0,-3.0,0.0,4.0

(1163, 65)

In [20]:
num = x_train.select_dtypes(include='number').columns
obj = x_train.select_dtypes(include='object').columns

print(num)
print(obj)

Index(['ID', 'motion_0', 'motion_1', 'motion_2', 'motion_3', 'motion_4',
       'motion_5', 'motion_6', 'motion_7', 'motion_8', 'motion_9', 'motion_10',
       'motion_11', 'motion_12', 'motion_13', 'motion_14', 'motion_15',
       'motion_16', 'motion_17', 'motion_18', 'motion_19', 'motion_20',
       'motion_21', 'motion_22', 'motion_23', 'motion_24', 'motion_25',
       'motion_26', 'motion_27', 'motion_28', 'motion_29', 'motion_30',
       'motion_31', 'motion_32', 'motion_33', 'motion_34', 'motion_35',
       'motion_36', 'motion_37', 'motion_38', 'motion_39', 'motion_40',
       'motion_41', 'motion_42', 'motion_43', 'motion_44', 'motion_45',
       'motion_46', 'motion_47', 'motion_48', 'motion_49', 'motion_50',
       'motion_51', 'motion_52', 'motion_53', 'motion_54', 'motion_55',
       'motion_56', 'motion_57', 'motion_58', 'motion_59', 'motion_60',
       'motion_61', 'motion_62', 'motion_63'],
      dtype='object')
Index([], dtype='object')

In [22]:
X_train = x_train.drop(columns=['ID'])
X_test = x_test.drop(columns=['ID'])

수치형 변수 전처리

In [23]:
from sklearn.preprocessing import StandardScaler

scaler = StandardScaler()

X_train_s = scaler.fit_transform(X_train)
X_test_s = scaler.transform(X_test)

모델링

In [25]:
from sklearn.model_selection import train_test_split

In [26]:
X_train_m, X_test_m, y_train_m, y_test_m = train_test_split(X_train_s, y_train['pose'],
                                                            test_size=0.3,
                                                            random_state=42)

In [27]:
print(X_train_m.shape)
print(X_test_m.shape)
print(y_train_m.shape)
print(y_test_m.shape)

(3255, 64)
(1395, 64)
(3255,)
(1395,)

In [29]:
from sklearn.ensemble import RandomForestClassifier

model = RandomForestClassifier(random_state=42)
model.fit(X_train_m, y_train_m)
pred = model.predict_proba(X_test_m)[:,1]

평가

In [30]:
from sklearn.metrics import roc_auc_score

In [31]:
roc_auc_score(y_test_m, pred)

0.999966082602225

In [33]:
model.fit(X_train_s, y_train['pose'])
prediction = model.predict_proba(X_test_s)[:,1]

In [37]:
result = pd.DataFrame({'ID': x_test['ID'], 'pred':prediction})
result

        ID  pred
0        1  1.00
1        3  1.00
2        8  0.98
3       10  0.99
4       17  0.01
...    ...   ...
1158  5786  0.05
1159  5796  0.01
1160  5802  1.00
1161  5811  1.00
1162  5812  0.00

[1163 rows x 2 columns]