<a href="https://colab.research.google.com/github/heyggun/bigdata_analysis_test/blob/main/DataManim_%EB%AA%A8%EC%9D%982.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# 모의 2회차

## 작업 1유형

In [1]:
import pandas as pd
import numpy as np

- 데이터 출처 : https://www.kaggle.com/datasets/fedesoriano/stroke-prediction-dataset (후처리 작업)
- 데이터 설명 : 뇌졸증 발생여부 예측
- dataurl : https://raw.githubusercontent.com/Datamanim/datarepo/main/stroke_/train.csv

In [2]:
DataURL = 'https://raw.githubusercontent.com/Datamanim/datarepo/main/stroke_/train.csv'

df = pd.read_csv(DataURL)
display(df.head(3))

,id,gender,age,hypertension,heart_disease,ever_married,work_type,Residence_type,avg_glucose_level,bmi,smoking_status,stroke
0,1192,Female,31,0,0,No,Govt_job,Rural,70.66,27.2,never smoked,0
1,77,Female,13,0,0,No,children,Rural,85.81,18.6,Unknown,0
2,59200,Male,18,0,0,No,Private,Urban,60.56,33.0,never smoked,0

Q1. 성별이 Male인 환자들의 age의 평균값은 ?

In [3]:
df['age'].value_counts()

79     26
57     24
78     24
52     23
81     22
       ..
3       7
35      7
12      6
4       6
*82     1
Name: age, Length: 84, dtype: int64

In [4]:
df['age'] = df['age'].str.replace('*','')
df['age'] = df['age'].astype(int)

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  """Entry point for launching an IPython kernel.

In [5]:
df.loc[df['gender']=='Male']['age'].mean()

44.68623481781376

Q2. bmi컬럼의 결측치를 bmi컬럼의 결측치를 제외한 나머지 값들의 중앙값으로 채웠을 경우 bmi 컬럼의 평균을 소숫점 이하 3자리 까지 구하여라

In [6]:
round(df['bmi'].fillna(df['bmi'].median()).mean(),3)

29.166

Q3. bmi컬럼의 각 결측치들을 직전의 행의 bmi값으로 채웠을 경우 bmi 컬럼의 평균을 소숫점 이하 3자리 까지 구하여라

In [7]:
tmp = df.copy()
tmp['bmi'].fillna(method='ffill')
round(tmp['bmi'].mean(),3)

29.198

Q4. bmi컬럼의 각 결측치들을 결측치를 가진 환자 나이대(10단위)의 평균 bmi 값으로 대체한 후 대체된 bmi 컬럼의 평균을 소숫점 이하 3자리 까지 구하여라

In [8]:
temp = df.copy()

mean = temp[temp['bmi'].notnull()].groupby(df['age']//10*10)['bmi'].mean()
mean

age
0     18.960784
10    24.477228
20    28.052747
30    31.751111
40    31.427097
50    31.894086
60    31.615873
70    30.447727
80    28.566667
Name: bmi, dtype: float64

In [9]:
dic = {x:y for x,y in mean.items()}
dic

{0: 18.96078431372549,
 10: 24.477227722772277,
 20: 28.052747252747256,
 30: 31.751111111111108,
 40: 31.427096774193547,
 50: 31.894086021505377,
 60: 31.615873015873014,
 70: 30.44772727272727,
 80: 28.566666666666666}

In [10]:
temp.loc[temp['bmi'].isnull(), ['age','bmi']]

      age  bmi
67     54  NaN
87     33  NaN
103    51  NaN
105    78  NaN
106    77  NaN
113    48  NaN
119    49  NaN
178    31  NaN
185    45  NaN
192    79  NaN
203    71  NaN
229    76  NaN
261    65  NaN
329    76  NaN
336    58  NaN
365    78  NaN
368    40  NaN
380    34  NaN
387    72  NaN
397    78  NaN
447    78  NaN
464    66  NaN
515    16  NaN
516     1  NaN
519    25  NaN
532    76  NaN
550    61  NaN
589    75  NaN
590    79  NaN
602    76  NaN
608    37  NaN
611    63  NaN
627    72  NaN
653    66  NaN
660    52  NaN
663    51  NaN
666    75  NaN
701    63  NaN
784    64  NaN
822    40  NaN
840    39  NaN
866    34  NaN
897    45  NaN
915    78  NaN
926    67  NaN
952    71  NaN
1018   71  NaN
1055   59  NaN
1085   76  NaN
1098   10  NaN
1123   60  NaN
1131   59  NaN

In [11]:
idx = temp.loc[temp['bmi'].isnull(), ['age','bmi']].index
idx

Int64Index([  67,   87,  103,  105,  106,  113,  119,  178,  185,  192,  203,
             229,  261,  329,  336,  365,  368,  380,  387,  397,  447,  464,
             515,  516,  519,  532,  550,  589,  590,  602,  608,  611,  627,
             653,  660,  663,  666,  701,  784,  822,  840,  866,  897,  915,
             926,  952, 1018, 1055, 1085, 1098, 1123, 1131],
           dtype='int64')

In [12]:
# 결측치 매핑

temp.loc[temp['bmi'].isnull(), 'bmi'] = (df[df['bmi'].isnull()].age//10*10).map(lambda x: dic[x])
temp['bmi'].mean()

29.2627029367386

Q5. avg_glucose_level 컬럼의 값이 200이상인 데이터를 모두 199로 변경하고 stroke값이 1인 데이터의 avg_glucose_level값의 평균을 소수점이하 3자리 까지 구하여라

In [13]:
df.loc[df['avg_glucose_level']>=200, 'avg_glucose_level']  = 199

In [14]:
round(df.loc[df['stroke']==1]['avg_glucose_level'].mean(),3)

125.188

### 작업형 1유형_다른 데이터

- 데이터 출처 : https://www.kaggle.com/abcsds/pokemon (참고, 데이터 수정)
- 데이터 설명 : 포켓몬 정보
- data url = https://raw.githubusercontent.com/Datamanim/datarepo/main/pok/Pokemon.cs

In [15]:
DataURL = 'https://raw.githubusercontent.com/Datamanim/datarepo/main/pok/Pokemon.csv'
df = pd.read_csv(DataURL)
display(df.head(3))

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,405,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,525,80,82,83,100,100,80,1,False

Q6. Attack컬럼의 값을 기준으로 내림차순정렬 했을때 상위 400위까지 포켓몬들과 401~800위까지의 포켓몬들에서 전설포켓몬(Legendary컬럼)의 숫자 차이는?

In [16]:
tmp1 = df.sort_values(by='Attack', ascending=False).iloc[:400]
display(tmp1.shape)
tmp2 = df.sort_values(by='Attack', ascending=False).iloc[400:801]
display(tmp2.shape)

(400, 13)

(400, 13)

In [17]:
tmp1['Legendary'].sum() - tmp2['Legendary'].sum()

57

Q7. Type 1 컬럼의 종류에 따른 Total 컬럼의 평균값을 내림차순 정렬했을때 상위 3번째 Type 1은 무엇인가?

In [18]:
df[['Type 1','Total']].groupby('Type 1')['Total'].mean().sort_values(ascending=False).index[2]

'Flying'

Q8. 결측치가 존재하는 행을 모두 지운 후 처음부터 순서대로 60% 데이터를 추출하여 Defense컬럼의 1분위수를 구하여라

In [19]:
temp = df.copy()

temp.dropna().reset_index(drop=True, inplace=True)
temp.head(1)

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1,False

In [20]:
temp.iloc[:int(temp.shape[0] * 0.6)]['Defense'].quantile(0.25)

50.0

Q9. Type 1 컬럼의 속성이 Fire인 포켓몬들의 Attack의 평균이상인 Water속성의 포켓몬 수를 구하여라

In [21]:
temp = df[df['Attack']>= df[df['Type 1']=='Fire']['Attack'].mean()]
temp[temp['Type 1']=='Water'].shape[0]

37

In [22]:
target = df[df.Attack >= df[df['Type 1'] =='Fire'].Attack.mean()]
result = target[target['Type 1']=='Water'].shape[0]
print(result)

37

Q10. 각 세대 중(Generation 컬럼)의 Speed와 Defense 컬럼의 차이(절댓값)이 가장 큰 세대는?

In [23]:
temp = df[['Generation', 'Speed','Defense']]
temp['gab'] = abs(temp['Speed'] - temp['Defense'])
temp[['Generation','gab']].value_counts().to_frame().reset_index().sort_values('gab', ascending=False).reset_index(drop=True).loc[0,'Generation']

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

2

In [24]:
result = abs(df.groupby(['Generation'])[['Speed','Defense']].mean().T.diff().T).sort_values('Defense').index[-1]
print(result)

2

## 작업 2유형

- 데이터 출처 : https://www.kaggle.com/datasets/fedesoriano/stroke-prediction-dataset (후처리 작업)
- 데이터 설명 : 뇌졸증 발생여부 예측
- train : https://raw.githubusercontent.com/Datamanim/datarepo/main/stroke_/train.csv
- test : https://raw.githubusercontent.com/Datamanim/datarepo/main/stroke_/test.csv

In [25]:
train = pd.read_csv('https://raw.githubusercontent.com/Datamanim/datarepo/main/stroke_/train.csv')
test = pd.read_csv('https://raw.githubusercontent.com/Datamanim/datarepo/main/stroke_/test.csv')

In [26]:
display(train.head(3))
display(test.head(3))

,id,gender,age,hypertension,heart_disease,ever_married,work_type,Residence_type,avg_glucose_level,bmi,smoking_status,stroke
0,1192,Female,31,0,0,No,Govt_job,Rural,70.66,27.2,never smoked,0
1,77,Female,13,0,0,No,children,Rural,85.81,18.6,Unknown,0
2,59200,Male,18,0,0,No,Private,Urban,60.56,33.0,never smoked,0

,id,gender,age,hypertension,heart_disease,ever_married,work_type,Residence_type,avg_glucose_level,bmi,smoking_status
0,47472,Female,58,0,0,Yes,Private,Urban,107.26,38.6,formerly smoked
1,36841,Male,78,1,0,Yes,Self-employed,Rural,56.11,25.5,formerly smoked
2,3135,Female,73,0,0,No,Self-employed,Rural,69.35,NaN,never smoked

In [27]:
train.columns

Index(['id', 'gender', 'age', 'hypertension', 'heart_disease', 'ever_married',
       'work_type', 'Residence_type', 'avg_glucose_level', 'bmi',
       'smoking_status', 'stroke'],
      dtype='object')

In [28]:
test.columns

Index(['id', 'gender', 'age', 'hypertension', 'heart_disease', 'ever_married',
       'work_type', 'Residence_type', 'avg_glucose_level', 'bmi',
       'smoking_status'],
      dtype='object')

In [29]:
obj = train.select_dtypes(include='object').columns
num = train.select_dtypes(include='number').columns

print(obj)
print(num)

Index(['gender', 'age', 'ever_married', 'work_type', 'Residence_type',
       'smoking_status'],
      dtype='object')
Index(['id', 'hypertension', 'heart_disease', 'avg_glucose_level', 'bmi',
       'stroke'],
      dtype='object')

In [30]:
print(train.isna().sum())
print(test.isna().sum())

id                    0
gender                0
age                   0
hypertension          0
heart_disease         0
ever_married          0
work_type             0
Residence_type        0
avg_glucose_level     0
bmi                  52
smoking_status        0
stroke                0
dtype: int64
id                    0
gender                0
age                   0
hypertension          0
heart_disease         0
ever_married          0
work_type             0
Residence_type        0
avg_glucose_level     0
bmi                  57
smoking_status        0
dtype: int64

In [31]:
train['bmi'].fillna(train['bmi'].mean())
test['bmi'].fillna(test['bmi'].mean())

0      38.600000
1      25.500000
2      28.644114
3      20.000000
4      28.644114
         ...
927    27.000000
928    23.200000
929    30.800000
930    30.000000
931    25.500000
Name: bmi, Length: 932, dtype: float64

In [32]:
X_train = train.drop(columns=['id'])
X_test = test.drop(columns=['id'])

In [33]:
y_train = X_train['stroke']
X_train.drop(columns=['stroke'], inplace=True)

In [34]:
# 범주형 전처리

from sklearn.preprocessing import LabelEncoder

def Label_Encoder(df):
  for col in obj:
    le = LabelEncoder()
    df[col] = le.fit_transform(df[col])
  return df

In [35]:
X_trains = Label_Encoder(X_train)
X_tests = Label_Encoder(X_test)

In [36]:
num = num.tolist()
num.remove('stroke')
num.remove('id')

In [37]:
num

['hypertension', 'heart_disease', 'avg_glucose_level', 'bmi']

In [38]:
# 수치형 전처리

from sklearn.preprocessing import StandardScaler

def Standard_Scaler(df):

  for col in num:
    Scaler = StandardScaler()
    Scaler.fit_transform(df[col])

    return df