<a href="https://colab.research.google.com/github/heyggun/bigdata_analysis_test/blob/main/DataManim_type1_case6.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# 작업형 1 유형
https://www.datamanim.com/dataset/03_dataq/typeone.html#id21

In [1]:
import pandas as pd
import numpy as np

## nba 선수 능력치 데이터

- 데이터 출처 :https://www.kaggle.com/datasets/vivovinco/nba-player-stats(참고, 데이터 수정)
- Data url :https://raw.githubusercontent.com/Datamanim/datarepo/main/nba/nba.csv

In [2]:
DataUrl = 'https://raw.githubusercontent.com/Datamanim/datarepo/main/nba/nba.csv'

df = pd.read_csv(DataUrl, sep=';', encoding='latin')
display(df.head(3))

,Rk,Player,Pos,Age,Tm,G,GS,MP,FG,FGA,...,FT%,ORB,DRB,TRB,AST,STL,BLK,TOV,PF,PTS
0,1,Precious Achiuwa,C,22,TOR,73,28,23.6,3.6,8.3,...,0.595,2.0,4.5,6.5,1.1,0.5,0.6,1.2,2.1,9.1
1,2,Steven Adams,C,28,MEM,76,75,26.3,2.8,5.1,...,0.543,4.6,5.4,10.0,3.4,0.9,0.8,1.5,2.0,6.9
2,3,Bam Adebayo,C,24,MIA,56,56,32.6,7.3,13.0,...,0.753,2.4,7.6,10.1,3.4,1.4,0.8,2.6,3.1,19.1

Q. Tm 컬럼은 각 팀의 이름을 의미한다. TOR팀의 평균나이를 소수 4째 자리까지 구하여라

In [3]:
round(df.loc[df['Tm']=='TOR']['Age'].mean(),4)

24.8696

Q. Pos 컬럼은 포지션을 의미한다. 전체 선수 중 최소나이대의 선수들을 필터하고 그들 중 가장 많은 포지션은 무엇인지 확인하라

In [4]:
df.loc[df['Age']==df['Age'].min()].groupby('Pos').size().sort_values(ascending=False).index[0]

'SG'

Q. 선수들의 이름은 first_name+ 공백 + last_name으로 이루어져 있다. 가장 많은 first_name은 무엇이며 몇 회 발생하는지 확인하라

In [5]:
df['Player_first_name'] = df['Player'].apply(lambda x: x.split()[0].lower())
df['Player_first_name'].value_counts().to_frame().reset_index().iloc[0]

index                justin
Player_first_name        14
Name: 0, dtype: object

Q. PTS컬럼은 경기당 평균득점수 이다. 각포지션별로 경기당 평균득점수의 평균을 구하여라

In [6]:
df.groupby('Pos')['PTS'].mean().sort_values()

Pos
SF        7.270253
SG-SF     7.360000
C         7.690769
PF        7.737500
SG        7.810553
PG        8.325161
PF-SF     8.500000
SF-SG     8.660000
SG-PG     9.525000
C-PF     12.850000
PG-SG    22.000000
Name: PTS, dtype: float64

Q. G컬럼은 참여한 경기의 숫자이다. 각 팀별로 가장 높은 경기참여 수를 가진 선수들의 경기 참여 숫자의 평균을 구하여라

In [7]:
df.sort_values(['Tm','G']).groupby('Tm').tail(1)['G'].mean()

77.51612903225806

Q.Tm의 값이 MIA이며 Pos는 C또는 PF인 선수의 MP값의 평균은?

In [8]:
temp = df.loc[df['Tm']=='MIA']
temp.loc[(temp['Pos']=='C') | (temp['Pos']=='PF')]['MP'].mean()

16.787499999999998

In [9]:
df[(df['Tm']=='MIA') & (df['Pos'].isin(['C','PF']))]['MP'].mean()

16.787499999999998

Q. 전체 데이터중 G의 평균값의 1.5배 이상인 데이터들만 추출했을때 3P값의 평균은?

In [10]:
df.loc[df['G']>=(df['G'].mean()*1.5)]['3P'].mean()

1.3853658536585358

Q. Age의 평균 이상인 그룹과 평균 미만인 그룹간의 G값의 평균의 차이는?

In [11]:
Age_upper = df.loc[df['Age']>=df['Age'].mean()]['G'].mean()
Age_lower = df.loc[df['Age']<df['Age'].mean()]['G'].mean()

Ans = abs(Age_upper - Age_lower)
Ans

3.787674551781862

Q. 평균나이가 가장 젊은 팀은 어디인가

In [12]:
df.groupby('Tm')['Age'].mean().sort_values().index[0]

'MEM'

Q. Pos 그룹별 평균 MP 값을 구하여라

In [13]:
df.groupby(['Pos'])['MP'].mean()

Pos
C        16.990000
C-PF     25.350000
PF       17.937500
PF-SF    27.300000
PG       19.547742
PG-SG    37.200000
SF       17.514557
SF-SG    20.340000
SG       18.554271
SG-PG    22.950000
SG-SF    19.620000
Name: MP, dtype: float64