<a href="https://colab.research.google.com/github/heyggun/bigdata_analysis_test/blob/main/DataManim_type1_case1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#1. 작업형 1유형

## 유투브 인기 동영상 데이터

- 데이터 출처 :https://www.kaggle.com/rsrishav/youtube-trending-video-dataset?select=KR_youtube_trending_data.csv

- 데이터 설명 : 유튜브 데일리 인기동영상 (한국)
dataurl : https://raw.githubusercontent.com/Datamanim/datarepo/main/youtube/youtube.csv

In [41]:
import pandas as pd
import numpy as np

In [42]:
DataUrl = 'https://raw.githubusercontent.com/Datamanim/datarepo/main/youtube/youtube.csv'
df = pd.read_csv(DataUrl, index_col=0)
df.head(3)

,title,channelTitle,categoryId,view_count,likes,dislikes,comment_count,channelId,trending_date2
0,[신병] 물자창고,장삐쭈,23,1893473,38249,730,8595,UChbE5OZQ6dRHECsX0tEPEZQ,2021-01-01
1,RAIN(비) - 나로 바꾸자 Switch to me (duet with JYP) MV,RAIN's Official Channel,10,2600864,0,0,20129,UCxXgIeE5hxWxHG6dz9Scg2w,2021-01-01
2,2020년 제야의 종 온라인 타종행사 | 보신각 현장 행사는 진행하지 않습니다.,서울시 · Seoul,29,347049,3564,120,178,UCZUPZW5idAxYp-Asj__lVAA,2021-01-01

Q. 인기동영상 제작횟수가 많은 채널 상위 10개명을 추력하라 (날짜기준, 중복포함)

In [43]:
df.columns

Index(['title', 'channelTitle', 'categoryId', 'view_count', 'likes',
       'dislikes', 'comment_count', 'channelId', 'trending_date2'],
      dtype='object')

In [44]:
df['channelTitle'].nunique()

1832

In [45]:
temp = df['channelTitle'].value_counts()[:10].index
Ans = list(df.loc[df['channelTitle'].isin(temp)]['channelTitle'].unique())
Ans

['장삐쭈',
 '총몇명',
 '파뿌리',
 '짤툰',
 '런닝맨 - 스브스 공식 채널',
 '엠뚜루마뚜루 : MBC 공식 종합 채널',
 'SPOTV',
 '채널 십오야',
 '이과장',
 'BANGTANTV']

Q. 논란으로 인기동영상이 된 케이스를 확인하고 싶다. dislikes수가 like 수보다 높은 동영상을 제작한 채널을 모두 출력하라

In [46]:
temp = df.loc[df['dislikes'] > df['likes']]
Ans = temp['channelTitle'].unique()
Ans

array(['핫도그TV', 'ASMR 애정TV', '하얀트리HayanTree', '양팡 YangPang',
       '철구형 (CHULTUBE)', '왜냐맨하우스', '(MUTUBE)와꾸대장봉준', '오메킴TV', '육지담',
       'MapleStory_KR', 'ROAD FIGHTING CHAMPIONSHIP', '사나이 김기훈',
       '나혼자산다 STUDIO', 'Gen.G esports'], dtype=object)

Q. 채널명을 바꾼 케이스가 있는지 확인하고 싶다. channelId의 경우 고유값이므로 이를 통해 채널명을 한번이라도 바꾼 채널의 갯수를 구하여라

In [47]:
temp = df[['channelTitle','channelId']].drop_duplicates()
temp = temp['channelId'].value_counts().to_frame()
Ans = temp.loc[temp['channelId']>1].shape[0]
Ans

71

Q. 일요일에 인기있었던 영상들중 가장많은 영상 종류(categoryId)는 무엇인가?

In [48]:
df['trending_date2'] = pd.to_datetime(df['trending_date2'])
df.loc[:,'trending_date2'].dtypes

dtype('<M8[ns]')

In [49]:
df.loc[df['trending_date2'].dt.weekday==6]['categoryId'].value_counts().index[0]

24

In [50]:
df.loc[df['trending_date2'].dt.day_name()=='Sunday']['categoryId'].value_counts().index[0]

24

Q. 각 요일별 인기 영상들의 categoryId는 각각 몇개 씩인지 하나의 데이터 프레임으로 표현하라

In [51]:
df.groupby(['categoryId', df['trending_date2'].dt.day_name()]).size().unstack()

trending_date2  Friday  Monday  Saturday  Sunday  Thursday  Tuesday  Wednesday
categoryId
1                  243     263       255     274       246      257        234
2                  120     105       119      99       128      119        129
10                 833     837       776     830       890      894        917
15                 187     215       198     217       207      208        207
17                 633     668       592     636       682      708        706
19                  90      92        87      91        92       89         85
20                 283     298       296     289       282      285        291
22                1288    1373      1289    1337      1341     1375       1333
23                 568     594       570     556       560      569        566
24                2976    3148      3066    3096      2954     3084       3090
25                 444     453       422     437       470      452        468
26                 369     378       364     363       375      394        385
27                 183     205       183     199       194      194        212
28                 171     160       173     167       166      161        165
29                  12      10        10       9        13       11         12

In [52]:
group = df.groupby([df['trending_date2'].dt.day_name(),'categoryId'],as_index=False).size()
group

    trending_date2  categoryId  size
0           Friday           1   243
1           Friday           2   120
2           Friday          10   833
3           Friday          15   187
4           Friday          17   633
..             ...         ...   ...
100      Wednesday          25   468
101      Wednesday          26   385
102      Wednesday          27   212
103      Wednesday          28   165
104      Wednesday          29    12

[105 rows x 3 columns]

In [53]:
answer= group.pivot(index='categoryId',columns='trending_date2')
display(answer)

                 size
trending_date2 Friday Monday Saturday Sunday Thursday Tuesday Wednesday
categoryId
1                 243    263      255    274      246     257       234
2                 120    105      119     99      128     119       129
10                833    837      776    830      890     894       917
15                187    215      198    217      207     208       207
17                633    668      592    636      682     708       706
19                 90     92       87     91       92      89        85
20                283    298      296    289      282     285       291
22               1288   1373     1289   1337     1341    1375      1333
23                568    594      570    556      560     569       566
24               2976   3148     3066   3096     2954    3084      3090
25                444    453      422    437      470     452       468
26                369    378      364    363      375     394       385
27                183    205      183    199      194     194       212
28                171    160      173    167      166     161       165
29                 12     10       10      9       13      11        12

Q. 댓글의 수로 (comment_count) 영상 반응에 대한 판단을 할 수 있다. viewcount대비 댓글수가 가장 높은 영상을 확인하라 (view_count값이 0인 경우는 제외한다)

In [54]:
temp = df.copy()
temp = temp[temp['view_count']!=0]
temp['comm_cnt_per_view_cnt'] = temp['comment_count'] / temp['view_count']
Ans = temp.sort_values(by='comm_cnt_per_view_cnt', ascending=False).iloc[0]
Ans['title']

'60분 동안 댓글이 달리지 않으면, 영상이 삭제됩니다. (챌린지)'

Q . 댓글의 수로 (comment_count) 영상 반응에 대한 판단을 할 수 있다.viewcount대비 댓글수가 가장 낮은 영상을 확인하라 (view_counts, ratio값이 0인경우는 제외한다.)

In [55]:
temp = df.copy()
temp = temp[temp['view_count']!=0]
temp['ratio'] = temp['comment_count'] / temp['view_count']
temp = temp[temp['ratio']!=0]
Ans = temp.sort_values(by='ratio').iloc[0]['title']
Ans

'Join the BTS #PermissiontoDance Challenge only on YouTube #Shorts'

Q. like 대비 dislike의 수가 가장 적은 영상은 무엇인가? (like, dislike 값이 0인경우는 제외한다)

In [56]:
temp = df.copy()
temp = temp[(temp['likes']!=0) & (temp['dislikes']!=0)]
temp['ratio'] = df['dislikes'] / df['likes']
Ans = temp.sort_values(by='ratio').iloc[0]['title']
Ans

'[줌터뷰] *최초공개* 사부작즈🐰🐶의 비공식 이름은 아이라인즈? 꿀조합 티키타카 가득한 NCT 127 도영&정우의 줌터뷰'

Q. 가장많은 트렌드 영상을 제작한 채널의 이름은 무엇인가? (날짜기준, 중복포함)

In [57]:
df.iloc[0]

title                            [신병] 물자창고
channelTitle                           장삐쭈
categoryId                              23
view_count                         1893473
likes                                38249
dislikes                               730
comment_count                         8595
channelId         UChbE5OZQ6dRHECsX0tEPEZQ
trending_date2         2021-01-01 00:00:00
Name: 0, dtype: object

In [58]:
df['channelTitle'].value_counts().index[0]

'짤툰'

In [59]:
df.loc[df['channelId'] ==df['channelId'].value_counts().index[0]]['channelTitle'].unique()[0]

'짤툰'

Q. 20회(20일)이상 인기동영상 리스트에 포함된 동영상의 숫자는?

In [60]:
temp = df[['title','channelId']]
(temp.value_counts()>=20).sum()

40

### 유투브 공범 콘텐츠 동영상 데이터

- dataurl1 (비디오 정보) = https://raw.githubusercontent.com/Datamanim/datarepo/main/youtube/videoInfo.csv

- dataurl2 (참가자 채널 정보)= https://raw.githubusercontent.com/Datamanim/datarepo/main/youtube/channelInfo.csv

In [61]:
import pandas as pd
import numpy as np

In [62]:
DataUrl1 ='https://raw.githubusercontent.com/Datamanim/datarepo/main/youtube/videoInfo.csv' 
DataUrl2 = 'https://raw.githubusercontent.com/Datamanim/datarepo/main/youtube/channelInfo.csv'

In [63]:
video = pd.read_csv(DataUrl1)
channel = pd.read_csv(DataUrl2)

display(video.head(3))
display(channel.head(3))

,videopk,viewcnt,likecnt,dislikecnt,favoritecnt,cmcnt,ct,videoname
0,c5JQp6xafqc,1667010,30474,706,0,6587,2021-10-10 15:20:03,공범 EP1
1,c5JQp6xafqc,1669089,30495,707,0,6589,2021-10-10 15:30:03,공범 EP1
2,c5JQp6xafqc,1674759,30522,711,0,6596,2021-10-10 15:40:02,공범 EP1

,channelid,subcnt,viewcnt,videocnt,ct,channelname
0,UCkQCwnkQfgSuPTTnw_Y7v7w,1310000,410238653,736,2021-09-30 03:01:03,꽈뚜룹
1,UCkQCwnkQfgSuPTTnw_Y7v7w,1310000,412531322,736,2021-09-30 09:01:03,꽈뚜룹
2,UCkQCwnkQfgSuPTTnw_Y7v7w,1310000,412531322,735,2021-09-30 15:01:03,꽈뚜룹

Q. 각 데이터의 ‘ct’컬럼을 시간으로 인식할수 있게 datatype을 변경하고 video 데이터의 videoname의 각 value 마다 몇개의 데이터씩 가지고 있는지 확인하라

In [64]:
print(video.columns)
print(channel.columns)

Index(['videopk', 'viewcnt', 'likecnt', 'dislikecnt', 'favoritecnt', 'cmcnt',
       'ct', 'videoname'],
      dtype='object')
Index(['channelid', 'subcnt', 'viewcnt', 'videocnt', 'ct', 'channelname'], dtype='object')

In [65]:
print(video.loc[:,'ct'].dtype)
video.loc[1,'ct']

object

'2021-10-10 15:30:03'

In [66]:
video['ct'] = pd.to_datetime(video['ct'])
print(video.loc[:,'ct'].dtype)

datetime64[ns]

In [67]:
channel['ct'] = pd.to_datetime(channel['ct'])
print(channel.loc[:,'ct'].dtype)

datetime64[ns]

In [68]:
video['videoname'].value_counts()

 공범 EP1    3492
 공범 EP2    3204
 공범 EP3    2568
 공범 EP4    2280
 공범 EP5    1562
 공범 EP6    1274
 공범 EP7     555
 공범 EP8     266
Name: videoname, dtype: int64

Q. 수집된 각 video의 가장 최신화 된 날짜의 viewcount값을 출력하라

In [69]:
temp = video.copy()
temp.sort_values(by=['videoname','ct'], ascending=[True, False], inplace=True)
temp = temp[['viewcnt','videoname','ct']]
temp = temp.drop_duplicates(subset=['videoname']).reset_index(drop=True)
temp

   viewcnt videoname                  ct
0  3180532    공범 EP1 2021-11-01 15:30:03
1  2199328    공범 EP2 2021-11-01 15:30:03
2  1671294    공범 EP3 2021-11-01 15:30:03
3  1818493    공범 EP4 2021-11-01 15:30:03
4  1503435    공범 EP5 2021-11-01 15:30:04
5  1750222    공범 EP6 2021-11-01 15:30:04
6  1630200    공범 EP7 2021-11-01 15:30:05
7  1289088    공범 EP8 2021-11-01 15:30:05

In [70]:
video.sort_values(by=['videoname','ct']).drop_duplicates(subset=['videoname'], keep='last')[['viewcnt','videoname','ct']].reset_index(drop=True)

   viewcnt videoname                  ct
0  3180532    공범 EP1 2021-11-01 15:30:03
1  2199328    공범 EP2 2021-11-01 15:30:03
2  1671294    공범 EP3 2021-11-01 15:30:03
3  1818493    공범 EP4 2021-11-01 15:30:03
4  1503435    공범 EP5 2021-11-01 15:30:04
5  1750222    공범 EP6 2021-11-01 15:30:04
6  1630200    공범 EP7 2021-11-01 15:30:05
7  1289088    공범 EP8 2021-11-01 15:30:05

Q. Channel 데이터중 2021-10-03일 이후 각 채널의 처음 기록 됐던 구독자 수(subcnt)를 출력하라

In [71]:
temp = channel.loc[channel['ct']>='2021-10-03'].sort_values(by='ct')
temp.drop_duplicates(subset=['channelname'])[['channelname','subcnt']].reset_index(drop=True)

        channelname   subcnt
0            논리왕 전기   922000
1        츄정ChuJeong   322000
2             야전삽짱재   257000
3        김농밀의 농밀한 삶     7520
4   와글와글 WagleWagle    55000
5       릴펄 Lilpearl    10100
6           형사!탐정되다    14900
7               조나단   215000
8               꽈뚜룹  1330000
9     Balming Tiger    54300
10    곽토리 kwak tori   471000

Q. 각채널의 2021-10-03 03:00:00 ~ 2021-11-01 15:00:00 까지 구독자수 (subcnt) 의 증가량을 구하여라

In [72]:
temp = channel.copy()
temp = temp[(pd.to_datetime('2021-10-03 03:00:00') <= temp['ct'] ) & (temp['ct'] <= pd.to_datetime('2021-11-01 15:00:00'))]
temp.sort_values(by=['channelname','ct'], inplace=True)
temp1 = temp.drop_duplicates(subset=['channelname'], keep='first')[['channelname','subcnt','ct']].rename(columns={'subcnt':'start_cnt'})
temp2 = temp.drop_duplicates(subset=['channelname'], keep='last')[['channelname','subcnt','ct']].rename(columns={'subcnt':'end_cnt'})

Ans = pd.merge(temp1, temp2, on='channelname')
Ans['del_cnt'] = Ans['end_cnt']- Ans['start_cnt']
Ans[['channelname','del_cnt']]

        channelname  del_cnt
0     Balming Tiger     2500
1     곽토리 kwak tori    -2000
2        김농밀의 농밀한 삶     1540
3               꽈뚜룹    70000
4            논리왕 전기   -11000
5       릴펄 Lilpearl    11000
6             야전삽짱재    11000
7   와글와글 WagleWagle        0
8               조나단    12000
9        츄정ChuJeong     1000
10          형사!탐정되다    10300

Q. 각 비디오는 10분 간격으로 구독자수, 좋아요, 싫어요수, 댓글수가 수집된것으로 알려졌다. 공범 EP1의 비디오정보 데이터중 수집간격이 5분 이하, 20분이상인 데이터 구간( 해당 시점 전,후) 의 시각을 모두 출력하라

In [73]:
import datetime

ep_one = video[video['videoname'].str.contains('1')].sort_values('ct').reset_index(drop=True)

ep_one_idx = ep_one[(ep_one['ct'].diff(1) >= datetime.timedelta(minutes=20)) | (ep_one['ct'].diff(1) <= datetime.timedelta(minutes=5))].index
ep_one_idx

find_idx = []
for i in ep_one_idx:
  find_idx.append(i-1)
  find_idx.append(i)
  find_idx.append(i+1)

find_idx = list(set(find_idx))
find_idx

ep_one.loc[find_idx]

,videopk,viewcnt,likecnt,dislikecnt,favoritecnt,cmcnt,ct,videoname
1635,c5JQp6xafqc,2706691,37893,987,0,7410,2021-10-19 17:50:02,공범 EP1
1636,c5JQp6xafqc,2707933,37901,988,0,7410,2021-10-19 18:20:03,공범 EP1
1637,c5JQp6xafqc,2708448,37903,988,0,7410,2021-10-19 18:30:03,공범 EP1
720,c5JQp6xafqc,2153676,34104,830,0,7120,2021-10-12 19:20:03,공범 EP1
721,c5JQp6xafqc,2228250,34559,849,0,7191,2021-10-13 09:41:37,공범 EP1
722,c5JQp6xafqc,2228250,34559,849,0,7191,2021-10-13 09:41:37,공범 EP1
723,c5JQp6xafqc,2228669,34566,849,0,7194,2021-10-13 09:50:03,공범 EP1

Q. 각 에피소드의 시작날짜(년-월-일)를 에피소드 이름과 묶어 데이터 프레임으로 만들고 출력하라

In [74]:
temp = video.sort_values(by=['ct','videoname']).drop_duplicates(subset=['videoname'], keep='first')
temp['date'] = temp['ct'].dt.strftime('%Y-%m-%d')
temp[['date','videoname']]

             date videoname
10     2021-10-07    공범 EP1
3496   2021-10-09    공범 EP2
6696   2021-10-14    공범 EP3
9264   2021-10-16    공범 EP4
11544  2021-10-21    공범 EP5
13661  2021-10-23    공범 EP6
13106  2021-10-28    공범 EP7
14935  2021-10-30    공범 EP8

In [75]:
video.head(2)

,videopk,viewcnt,likecnt,dislikecnt,favoritecnt,cmcnt,ct,videoname
0,c5JQp6xafqc,1667010,30474,706,0,6587,2021-10-10 15:20:03,공범 EP1
1,c5JQp6xafqc,1669089,30495,707,0,6589,2021-10-10 15:30:03,공범 EP1

Q. “공범” 컨텐츠의 경우 19:00시에 공개 되는것으로 알려져있다. 공개된 날의 21시의 viewcnt, ct, videoname 으로 구성된 데이터 프레임을 viewcnt를 내림차순으로 정렬하여 출력하라

In [76]:
temp = video.copy()

temp['hour'] = temp['ct'].dt.hour

temp = temp.loc[temp['hour']==21].sort_values(['videoname','ct']).drop_duplicates('videoname')
temp = temp.sort_values('viewcnt', ascending=False)[['videoname','viewcnt','ct']].reset_index(drop=True)
display(temp)

  videoname  viewcnt                  ct
0    공범 EP8   264029 2021-10-30 21:00:08
1    공범 EP7   252032 2021-10-28 21:00:04
2    공범 EP4   217674 2021-10-16 21:00:04
3    공범 EP6   213899 2021-10-23 21:00:06
4    공범 EP5   201179 2021-10-21 21:00:04
5    공범 EP2   148144 2021-10-09 21:00:03
6    공범 EP3   147183 2021-10-14 21:00:04
7    공범 EP1   117340 2021-10-07 21:00:03

Q. video 정보의 가장 최근 데이터들에서 각 에피소드의 싫어요/좋아요 비율을 ratio 컬럼으로 만들고 videoname, ratio로 구성된 데이터 프레임을 ratio를 오름차순으로 정렬하라

In [77]:
temp = video.copy()
temp.sort_values(by='ct', ascending=False, inplace=True)
temp = temp.drop_duplicates(['videoname'], keep='first')
temp['ratio'] = temp['dislikecnt'] / temp['likecnt']
temp[['videoname','ratio']].sort_values(by='ratio', ascending=True)

      videoname     ratio
13660    공범 EP7  0.013636
14934    공범 EP6  0.015881
11543    공범 EP4  0.017971
13105    공범 EP5  0.021128
9263     공범 EP3  0.022360
3491     공범 EP1  0.027118
6695     공범 EP2  0.029844
15200    공범 EP8  0.141357

Q. 2021-11-01 00:00:00 ~ 15:00:00까지 각 에피소드별 viewcnt의 증가량을 데이터 프레임으로 만드시오

In [78]:
import datetime

temp = video.copy()

temp = temp[(pd.to_datetime('2021-11-01 00:00:00') <= temp['ct']) & (temp['ct'] <= pd.to_datetime('2021-11-01 15:00:00'))]
temp.sort_values(by='ct', inplace=True)

start = temp.drop_duplicates(subset=['videoname'], keep='first')[['videoname','viewcnt','ct']]
end = temp.drop_duplicates(subset=['videoname'], keep='last')[['videoname','viewcnt','ct']]

temp = pd.merge(start, end, on='videoname')
temp['view_gap'] = temp['viewcnt_y'] - temp['viewcnt_x']
temp[['videoname','view_gap']].sort_values(by='videoname')

  videoname  view_gap
0    공범 EP1     13298
1    공범 EP2     10300
2    공범 EP3      9927
4    공범 EP4      9824
5    공범 EP5     10824
3    공범 EP6     14141
7    공범 EP7     26949
6    공범 EP8     89147

Q. video 데이터 중에서 중복되는 데이터가 존재한다. 중복되는 각 데이터의 시간대와 videoname 을 구하여라

In [79]:
temp = video.copy()
temp[temp.duplicated()][['videoname','ct']]

     videoname                  ct
722     공범 EP1 2021-10-13 09:41:37
3927    공범 EP2 2021-10-13 09:41:37

## 월드컵 출전선수 골기록 데이터

- 데이터 출처 :https://www.kaggle.com/darinhawley/fifa-world-cup-goalscorers-19302018(참고, 데이터 수정)
- 데이터 설명 : 1930 ~2018년도 월드컵 출전선수 골기록
data url = https://raw.githubusercontent.com/Datamanim/datarepo/main/worldcup/worldcupgoals.csv

In [80]:
DataUrl = 'https://raw.githubusercontent.com/Datamanim/datarepo/main/worldcup/worldcupgoals.csv'

df = pd.read_csv(DataUrl)
df.head(3)

           Player  Goals                Years  Country
0  Miroslav Klose     16  2002-2006-2010-2014  Germany
1         Ronaldo     15       1998-2002-2006   Brazil
2     Gerd Muller     14            1970-1974  Germany

Q. 주어진 전체 기간의 각 나라별 골득점수 상위 5개 국가와 그 득점수를 데이터프레임형태로 출력하라

In [92]:
temp = df.groupby(['Country'], as_index=False)['Goals'].sum().sort_values(by='Goals', ascending=False)
Ans = temp.head(5).set_index('Country')
Ans

           Goals
Country
Brazil       228
Germany      226
Argentina    135
Italy        123
France       115

Q. 주어진 전체기간동안 골득점을 한 선수가 가장 많은 나라 상위 5개 국가와 그 선수 숫자를 데이터 프레임 형식으로 출력하라

In [93]:
df.columns

Index(['Player', 'Goals', 'Years', 'Country'], dtype='object')

In [102]:
temp = df.groupby(['Country'], as_index=False)['Player'].count().sort_values(by='Player', ascending=False)
Ans = temp.head(5)
Ans

      Country  Player
8      Brazil      81
25    Germany      78
36      Italy      60
2   Argentina      59
24     France      58

Q. Years 컬럼은 년도 -년도 형식으로 구성되어있고, 각 년도는 4자리 숫자이다. 년도 표기가 4자리 숫자로 안된 케이스가 존재한다. 해당 건은 몇건인지 출력하라

In [126]:
df['yearLst'] = df['Years'].str.split('-')

def checkYear(x):
  for value in x:
    if len(str(value)) != 4:
      return False

    return True

df['check'] = df['yearLst'].apply(checkYear)
df['check'].value_counts()

True     1250
False      45
Name: check, dtype: int64

Q. Q3에서 발생한 예외 케이스를 제외한 데이터프레임을 df2라고 정의하고 데이터의 행의 숫자를 출력하라 (아래 문제부터는 df2로 풀이하겠습니다)

In [138]:
df2 = df[df['check']==True]
df2.shape[0]

1250

Q. 월드컵 출전횟수를 나타내는 ‘LenCup’ 컬럼을 추가하고 4회 출전한 선수의 숫자를 구하여라

In [144]:
df2['LenCup'] = df2['yearLst'].str.len()
df2.loc[:,'LenCup']

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

647     1
1011    1
1010    1
988     2
987     1
       ..
4       4
3       1
2       2
1       3
0       4
Name: LenCup, Length: 1250, dtype: int64

In [147]:
print(df2['LenCup'].value_counts())
print(df2['LenCup'].value_counts()[4])

1    779
2    353
3    102
4     16
Name: LenCup, dtype: int64
16

Q. Yugoslavia 국가의 월드컵 출전횟수가 2회인 선수들의 숫자를 구하여라

In [149]:
df2[(df2['Country']=="Yugoslavia") & (df2['LenCup']==2)].shape[0]

7

Q. 2002년도에 출전한 전체 선수는 몇명인가?

In [155]:
def check_2002(yearLst):
  for year in yearLst:
    year = int(year)
    if year == 2002:
      return True
  
  return False

df2['y_2002'] = df2['yearLst'].apply(check_2002)
print(df2['y_2002'].sum())

156

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  if __name__ == '__main__':

Q. 이름에 ‘carlos’ 단어가 들어가는 선수의 숫자는 몇 명인가? (대, 소문자 구분 x)

In [161]:
df['Player'].str.lower().str.contains('carlos').sum()

13

Q. 월드컵 출전 횟수가 1회뿐인 선수들 중에서 가장 많은 득점을 올렸던 선수는 누구인가?

In [174]:
temp = df.copy()
temp['enter_1'] = temp['Years'].apply(lambda x: True if len(x)==4 else False)
temp[temp['enter_1']==True].sort_values('Goals', ascending=False).iloc[0]['Player']

'Just Fontaine'

In [170]:
temp.columns

Index(['Player', 'Goals', 'Years', 'Country', 'yearLst', 'check', 'LenCup',
       'enter_1'],
      dtype='object')

Q. 월드컵 출전횟수가 1회 뿐인 선수들이 가장 많은 국가는 어디인가?

In [181]:
temp = df2[df2['LenCup']==1].reset_index(drop=True)
temp = temp.groupby(['Country'], as_index=False)['Player'].count()
temp.sort_values(by='Player', ascending=False).iloc[0]['Country']

'Brazil'

In [184]:
df2[df2['LenCup']==1]['Country'].value_counts().index[0]

'Brazil'

## 서울시 따릉이 이용정보 데이터

- 데이터 출처 :https://www.data.go.kr/data/15051872/fileData.do(참고, 데이터 수정)

- 데이터 설명 : 서울특별시_공공자전거 시간대별 이용정보
data url = https://raw.githubusercontent.com/Datamanim/datarepo/main/bicycle/seoul_bi.csv

In [272]:
DataUrl = 'https://raw.githubusercontent.com/Datamanim/datarepo/main/bicycle/seoul_bi.csv'
df = pd.read_csv(DataUrl)
display(df.head(5))

         대여일자  대여시간  대여소번호 대여구분코드 성별 연령대코드  이용건수    운동량   탄소량     이동거리  사용시간
0  2021-06-01     0   3541    정기권  F  ~10대     1   0.00  0.00     0.00     8
1  2021-06-01     0    765    정기권  F  ~10대     1  27.21  0.35  1526.81    19
2  2021-06-01     0   2637    정기권  F  ~10대     1  41.40  0.37  1608.56    18
3  2021-06-01     0   2919    정기권  F  ~10대     1   0.00  0.00     0.00    75
4  2021-06-01     0    549    정기권  F  ~10대     1  13.04  0.17   731.55     6

Q. 대여일자별 데이터의 수를 데이터프레임으로 출력하고, 가장 많은 데이터가 있는 날짜를 출력하라

In [273]:
temp = df.groupby(['대여일자'], as_index=False).size().set_index('대여일자')
display(temp)
temp.sort_values(by='size', ascending=False).index[0]

             size
대여일자
2021-06-01  48081
2021-06-02  56100
2021-06-03  18985
2021-06-04  56788
2021-06-05  52730
2021-06-06  47787
2021-06-07  52623
2021-06-08  55623
2021-06-09  54507
2021-06-10  36992
2021-06-11  52089
2021-06-12  48569
2021-06-13  43131
2021-06-14  54945

'2021-06-04'

Q. 각 일자의 요일을 표기하고 (‘Monday’ ~’Sunday’) ‘day_name’컬럼을 추가하고 이를 이용하여 각 요일별 이용 횟수의 총합을 데이터 프레임으로 출력하라

In [274]:
df['대여일자'] = pd.to_datetime(df['대여일자'])
df['day_name'] = df['대여일자'].dt.day_name()
df['day_name'].value_counts().to_frame()

           day_name
Wednesday    110607
Friday       108877
Monday       107568
Tuesday      103704
Saturday     101299
Sunday        90918
Thursday      55977

Q. 각 요일별 가장 많이 이용한 대여소의 이용횟수와 대여소 번호를 데이터 프레임으로 출력하라

In [313]:
temp = df.groupby(['day_name','대여소번호']).size().to_frame('size').sort_values(['day_name','size'], ascending=False).reset_index()
temp = temp.drop_duplicates(subset=['day_name'], keep='first').reset_index(drop=True)
display(temp)

    day_name  대여소번호  size
0  Wednesday    502   282
1    Tuesday    502   267
2   Thursday   2715   137
3     Sunday    502   372
4   Saturday    502   378
5     Monday    502   242
6     Friday    502   277

Q. 나이대별 대여구분 코드의 (일일권/전체횟수) 비율을 구한 후 가장 높은 비율을 가지는 나이대를 확인하라. 일일권의 경우 일일권 과 일일권(비회원)을 모두 포함하라

In [321]:
daily = df[df['대여구분코드'].isin(['일일권','일일권(비회원'])]['연령대코드'].value_counts().sort_index()
display(daily)
total = df['연령대코드'].value_counts().sort_index()
display(total)

ratio = (daily/total).sort_values(ascending=False)
print(ratio)

print('max ratio age', ratio.index[0])

20대     59389
30대     31124
40대     12692
50대      4606
60대       819
70대~      158
~10대    11540
Name: 연령대코드, dtype: int64

20대     247561
30대     186722
40대     114799
50대      70428
60대      19288
70대~      3227
~10대     36925
Name: 연령대코드, dtype: int64

~10대    0.312525
20대     0.239896
30대     0.166686
40대     0.110558
50대     0.065400
70대~    0.048962
60대     0.042462
Name: 연령대코드, dtype: float64
max ratio age ~10대

In [278]:
df['연령대코드'].value_counts()

20대     247561
30대     186722
40대     114799
50대      70428
~10대     36925
60대      19288
70대~      3227
Name: 연령대코드, dtype: int64

Q. 연령대별 평균 이동거리를 구하여라

In [279]:
df.groupby(['연령대코드'], as_index=False)['이동거리'].mean().sort_values(by='연령대코드')

  연령대코드         이동거리
0   20대  3211.890552
1   30대  3341.443859
2   40대  3514.857416
3   50대  3593.668100
4   60대  3538.145737
5  70대~  3085.039641
6  ~10대  2634.426279

Q. 연령대 코드가 20대인 데이터를 추출하고,이동거리값이 추출한 데이터의 이동거리값의 평균 이상인 데이터를 추출한다.최종 추출된 데이터를 대여일자, 대여소 번호 순서로 내림차순 정렬 후 1행부터 200행까지의 탄소량의 평균을 소숫점 3째 자리까지 구하여라

In [280]:
temp_20 = df[df['연령대코드']=='20대']
temp_20 = temp_20[temp_20['이동거리'] >= temp_20['이동거리'].mean()]
temp_20 = temp_20.sort_values(by=['대여일자','대여소번호'], ascending=[False, False]).reset_index(drop=True)
temp = temp_20.iloc[:200]
Ans = round(temp['탄소량'].astype(float).mean(),3)
Ans

1.613

Q. 6월 7일 ~10대의 “이용건수”의 중앙값은?

In [281]:
temp = df.copy()
temp = temp[temp['대여일자'] == pd.to_datetime('2021-6-7')]
temp = temp[temp['연령대코드'] == '~10대']
temp['이용건수'].median()

1.0

Q. 평일 (월~금) 출근 시간대(오전 6,7,8시)의 대여소별 이용 횟수를 구해서 데이터 프레임 형태로 표현한 후 각 대여시간별 이용 횟수의 상위 3개 대여소와 이용횟수를 출력하라

In [282]:
df.head(3)

,대여일자,대여시간,대여소번호,대여구분코드,성별,연령대코드,이용건수,운동량,탄소량,이동거리,사용시간,day_name
0,2021-06-01,0,3541,정기권,F,~10대,1,0.00,0.00,0.00,8,Tuesday
1,2021-06-01,0,765,정기권,F,~10대,1,27.21,0.35,1526.81,19,Tuesday
2,2021-06-01,0,2637,정기권,F,~10대,1,41.40,0.37,1608.56,18,Tuesday

In [325]:
temp = df[(df['day_name'] !='Sunday') | df['day_name'] !='Saturday']
temp = temp[temp['대여시간'].isin([6,7,8])]
temp = temp.groupby(['대여시간','대여소번호']).size().to_frame('이용 횟수')

temp.sort_values(['대여시간','이용 횟수'],ascending=False)

            이용 횟수
대여시간 대여소번호
8    2701     131
     646      121
     1152     102
     247       96
     1906      96
...           ...
6    4852       1
     4859       1
     4861       1
     4862       1
     4864       1

[6463 rows x 1 columns]

In [326]:
temp.sort_values(['대여시간','이용 횟수'],ascending=False).groupby(['대여시간']).head(3)

            이용 횟수
대여시간 대여소번호
8    2701     131
     646      121
     1152     102
7    259      108
     726       83
     2744      83
6    2744      47
     3214      46
     1125      44

In [284]:
temp.columns

Index(['이용 횟수'], dtype='object')

Q. 이동거리의 평균 이상의 이동거리 값을 가지는 데이터를 추출하여 추출데이터의 이동거리의 표본표준편차 값을 구하여라

In [289]:
temp = df.copy()
temp['이동거리'] = temp['이동거리'].astype('float')
temp = temp[temp['이동거리'] >= temp['이동거리'].mean()]
Ans = temp['이동거리'].std()
Ans

5092.139707505305

Q. 남성(‘M’ or ‘m’)과 여성(‘F’ or ‘f’)의 이동거리값의 평균값을 구하여라

In [295]:
temp = df.copy()
temp['성별'].value_counts(dropna=False)

M    400077
F    278547
m       197
f       129
Name: 성별, dtype: int64

In [302]:
woman_df = temp.loc[temp['성별'].str.lower().str.contains('f')]
man_df = temp.loc[temp['성별'].str.lower().str.contains('m')]

In [303]:
print('여성 이동거리 평균값', woman_df['이동거리'].mean())
print('남성 이동거리 평균값', man_df['이동거리'].mean())

여성 이동거리 평균값 3468.575025298235
남성 이동거리 평균값 3209.110871453049

In [307]:
temp = df.copy()
temp['sex'] = temp['성별'].map(lambda x: '남' if x in ['M','m'] else '여')
temp[['sex','이동거리']].groupby('sex').mean()

            이동거리
sex
남    3209.110871
여    3468.575025

## 전세계 행복도 지표 데이터

- 데이터 출처 :https://www.kaggle.com/unsdsn/world-happiness(참고, 데이터 수정)
데이터 설명 : 전세계 행복도 지표 조사
- data url = https://raw.githubusercontent.com/Datamanim/datarepo/main/happy2/happiness.csv

In [327]:
DataUrl='https://raw.githubusercontent.com/Datamanim/datarepo/main/happy2/happiness.csv'
df = pd.read_csv(DataUrl)
df.head(3)

   행복랭킹      나라명     점수  상대GDP  사회적지원  행복기대치  선택의 자유도    관대함  부패에 대한인식    년도
0     1  Finland  7.769  1.340  1.587  0.986    0.596  0.153     0.393  2019
1     2  Denmark  7.600  1.383  1.573  0.996    0.592  0.252     0.410  2019
2     3   Norway  7.554  1.488  1.582  1.028    0.603  0.271     0.341  2019

Q. 데이터는 2018년도와 2019년도의 전세계 행복 지수를 표현한다. 각년도의 행복랭킹 10위를 차지한 나라의 행복점수의 평균을 구하여라

In [333]:
df[df['행복랭킹']==10]['점수'].mean()

7.259

Q. 데이터는 2018년도와 2019년도의 전세계 행복 지수를 표현한다. 각년도의 행복랭킹 50위이내의 나라들의 각각의 행복점수 평균을 데이터프레임으로 표시하라

In [337]:
temp = df[df['행복랭킹']<=50]
temp.groupby('년도', as_index=False)['점수'].mean()

     년도       점수
0  2018  6.64678
1  2019  6.67002

Q. 
2018년도 데이터들만 추출하여 행복점수와 부패에 대한 인식에 대한 상관계수를 구하여라

In [352]:
temp = df.loc[df['년도']==2018]
temp = temp[['점수','부패에 대한인식']]
temp.corr().iloc[0,1]

0.40529152271510027

Q. 2018년도와 2019년도의 행복랭킹이 변화하지 않은 나라명의 수를 구하여라

In [411]:
country_2018 = df[df['년도']==2018][['나라명','년도','행복랭킹']]
country_2019 = df[df['년도']==2019][['나라명','년도','행복랭킹']]

pd.merge(country_2018, country_2019, on=['나라명','행복랭킹']).shape[0]

15

In [419]:
len(df[['행복랭킹','나라명']]) - len(df[['행복랭킹','나라명']].drop_duplicates())

15

In [415]:
result = len(df[['행복랭킹','나라명']]) - len(df[['행복랭킹','나라명']].drop_duplicates())
print(result)

15

Q. 2019년도 데이터들만 추출하여 각변수간 상관계수를 구하고 내림차순으로 정렬한 후 상위 5개를 데이터 프레임으로 출력하라. 컬럼명은 v1,v2,corr으로 표시하라

In [422]:
temp = df[df['년도']==2019]
temp = temp.corr().unstack().to_frame().reset_index().dropna()
temp

     level_0   level_1         0
0       행복랭킹      행복랭킹  1.000000
1       행복랭킹        점수 -0.989096
2       행복랭킹     상대GDP -0.801947
3       행복랭킹     사회적지원 -0.767465
4       행복랭킹     행복기대치 -0.787411
..       ...       ...       ...
66  부패에 대한인식     사회적지원  0.181899
67  부패에 대한인식     행복기대치  0.295283
68  부패에 대한인식   선택의 자유도  0.438843
69  부패에 대한인식       관대함  0.326538
70  부패에 대한인식  부패에 대한인식  1.000000

[64 rows x 3 columns]

In [426]:
Ans = temp[temp[0]!=1].sort_values(0, ascending=False).drop_duplicates(0)
Ans = Ans.head(5).reset_index(drop=True)
Ans.columns = ['v1','v2','corr']
display(Ans)

      v1     v2      corr
0  행복기대치  상대GDP  0.835462
1  상대GDP     점수  0.793883
2  행복기대치     점수  0.779883
3  사회적지원     점수  0.777058
4  사회적지원  상대GDP  0.754906

Q. 각 년도별 하위 행복점수의 하위 5개 국가의 평균 행복점수를 구하여라

In [363]:
temp = df.sort_values(['년도','점수'], ascending=[True, True]).groupby('년도').head(5)
temp.groupby('년도')['점수'].mean()

년도
2018    3.1800
2019    3.1408
Name: 점수, dtype: float64

In [368]:
df.groupby('년도').tail(5).groupby('년도').mean()[['점수']]

          점수
년도
2018  3.1800
2019  3.1408

Q. 2019년 데이터를 추출하고 해당데이터의 상대 GDP 평균 이상의 나라들과 평균 이하의 나라들의 행복점수 평균을 각각 구하고 그 차이값을 출력하라

In [376]:
temp = df[df['년도']==2019]
print('2019 상대 GDP 평균', temp['상대GDP'].mean())

mean_upper = temp[temp['상대GDP'] >= temp['상대GDP'].mean()]['점수'].mean()
mean_lower = temp[temp['상대GDP'] <= temp['상대GDP'].mean()]['점수'].mean()

print('2019 상대 GDP 평균 이상', mean_upper)
print('2019 상대 GDP 평균 이하', mean_lower)

print('2019 행복점수 평균 차이', mean_upper-mean_lower)

2019 상대 GDP 평균 0.9051474358974363
2019 상대 GDP 평균 이상 6.013204545454547
2019 상대 GDP 평균 이하 4.6227205882352935
2019 행복점수 평균 차이 1.3904839572192538

Q. 각년도의 부패에 대한인식을 내림차순 정렬했을때 상위 20개 국가의 부패에 대한인식의 평균을 구하여라

In [384]:
temp = df.sort_values(by=['년도', '부패에 대한인식'], ascending=False).groupby('년도').head(20)
temp.groupby('년도')['부패에 대한인식'].mean()

년도
2018    0.3267
2019    0.3201
Name: 부패에 대한인식, dtype: float64

Q. 2018년도 행복랭킹 50위 이내에 포함됐다가 2019년 50위 밖으로 밀려난 국가의 숫자를 구하여라

In [408]:
year_2018 = df[(df['년도']==2018) & (df['행복랭킹'] <=50)]['나라명']
year_2018 = set(year_2018)

year_2019 = df[(df['년도']==2019) & (df['행복랭킹']>=50)]['나라명']
year_2019 = set(year_2019)


print(year_2018.intersection(year_2019))
print(len(year_2018.intersection(year_2019)))

{'Ecuador', 'Kuwait', 'Thailand', 'Malaysia'}
4

Q. 2018년, 2019년 모두 기록이 있는 나라들 중 년도별 행복점수가 가장 증가한 나라와 그 증가 수치는?

In [386]:
df.columns

Index(['행복랭킹', '나라명', '점수', '상대GDP', '사회적지원', '행복기대치', '선택의 자유도', '관대함',
       '부패에 대한인식', '년도'],
      dtype='object')

In [391]:
country_2018 = df[df['년도']==2018]['나라명'].tolist()
country_2018 = set(country_2018)

country_2019 = df[df['년도']==2019]['나라명'].tolist()
country_2019 = set(country_2019)


both_country = country_2018.intersection(country_2019)
both_country

{'Afghanistan',
 'Albania',
 'Algeria',
 'Argentina',
 'Armenia',
 'Australia',
 'Austria',
 'Azerbaijan',
 'Bahrain',
 'Bangladesh',
 'Belarus',
 'Belgium',
 'Benin',
 'Bhutan',
 'Bolivia',
 'Bosnia and Herzegovina',
 'Botswana',
 'Brazil',
 'Bulgaria',
 'Burkina Faso',
 'Burundi',
 'Cambodia',
 'Cameroon',
 'Canada',
 'Central African Republic',
 'Chad',
 'Chile',
 'China',
 'Colombia',
 'Congo (Brazzaville)',
 'Congo (Kinshasa)',
 'Costa Rica',
 'Croatia',
 'Cyprus',
 'Czech Republic',
 'Denmark',
 'Dominican Republic',
 'Ecuador',
 'Egypt',
 'El Salvador',
 'Estonia',
 'Ethiopia',
 'Finland',
 'France',
 'Gabon',
 'Georgia',
 'Germany',
 'Ghana',
 'Greece',
 'Guatemala',
 'Guinea',
 'Haiti',
 'Honduras',
 'Hong Kong',
 'Hungary',
 'Iceland',
 'India',
 'Indonesia',
 'Iran',
 'Iraq',
 'Ireland',
 'Israel',
 'Italy',
 'Ivory Coast',
 'Jamaica',
 'Japan',
 'Jordan',
 'Kazakhstan',
 'Kenya',
 'Kosovo',
 'Kuwait',
 'Kyrgyzstan',
 'Laos',
 'Latvia',
 'Lebanon',
 'Lesotho',
 'Liberia',
 'Libya',
 'Lithuania',
 'Luxembourg',
 'Madagascar',
 'Malawi',
 'Malaysia',
 'Mali',
 'Malta',
 'Mauritania',
 'Mauritius',
 'Mexico',
 'Moldova',
 'Mongolia',
 'Montenegro',
 'Morocco',
 'Mozambique',
 'Myanmar',
 'Namibia',
 'Nepal',
 'Netherlands',
 'New Zealand',
 'Nicaragua',
 'Niger',
 'Nigeria',
 'Northern Cyprus',
 'Norway',
 'Pakistan',
 'Palestinian Territories',
 'Panama',
 'Paraguay',
 'Peru',
 'Philippines',
 'Poland',
 'Portugal',
 'Qatar',
 'Romania',
 'Russia',
 'Rwanda',
 'Saudi Arabia',
 'Senegal',
 'Serbia',
 'Sierra Leone',
 'Singapore',
 'Slovakia',
 'Slovenia',
 'Somalia',
 'South Africa',
 'South Korea',
 'South Sudan',
 'Spain',
 'Sri Lanka',
 'Sweden',
 'Switzerland',
 'Syria',
 'Taiwan',
 'Tajikistan',
 'Tanzania',
 'Thailand',
 'Togo',
 'Trinidad & Tobago',
 'Tunisia',
 'Turkey',
 'Turkmenistan',
 'Uganda',
 'Ukraine',
 'United Arab Emirates',
 'United Kingdom',
 'United States',
 'Uruguay',
 'Uzbekistan',
 'Venezuela',
 'Vietnam',
 'Yemen',
 'Zambia',
 'Zimbabwe'}

In [403]:
temp = df[df['나라명'].isin(both_country)]
temp_2018 = df[df['년도']==2018][['년도','나라명','점수']].rename(columns={'점수':'2018 점수'})
temp_2019 = df[df['년도']==2019][['년도','나라명','점수']].rename(columns={'점수':'2019 점수'})

Ans = pd.merge(temp_2018, temp_2019, on='나라명')
Ans['점수_차이'] = Ans['2019 점수'] - Ans['2018 점수']
Ans.sort_values(['점수_차이'], ascending=False).iloc[0][['나라명','점수_차이']]

나라명      Burundi
점수_차이       0.87
Name: 151, dtype: object

In [404]:
count = df.나라명.value_counts()
target = count[count>=2].index

df2 =df.copy()
multiple = df2[df2.나라명.isin(target)].reset_index(drop=True)
multiple.loc[multiple['년도']==2018,'점수'] = multiple[multiple.년도 ==2018]['점수'].values * (-1)
result = multiple.groupby('나라명').sum()['점수'].sort_values().to_frame().iloc[-1]
result

점수    0.87
Name: Burundi, dtype: float64