<a href="https://colab.research.google.com/github/heyggun/bigdata_analysis_test/blob/main/DataManim_type2_Classification_7.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# 작업형 제2유형

https://www.datamanim.com/dataset/03_dataq/typetwo.html#id9

## 분류 Classification

### 수질 음용성 여부 데이터

- 데이터 설명 : 수질 음용성 여부 (Potablillity 컬럼 : 0 ,1 )
- x_train: https://raw.githubusercontent.com/Datamanim/datarepo/main/waters/x_train.csv
- y_train: https://raw.githubusercontent.com/Datamanim/datarepo/main/waters/y_train.csv
- x_test: https://raw.githubusercontent.com/Datamanim/datarepo/main/waters/x_test.csv
- x_label(평가용) : https://raw.githubusercontent.com/Datamanim/datarepo/main/waters/y_test.csv
- 데이터 출처 :https://www.kaggle.com/adityakadiwal/water-potability

In [1]:
import pandas as pd
import numpy as np

In [2]:
x_train = pd.read_csv('https://raw.githubusercontent.com/Datamanim/datarepo/main/waters/x_train.csv')
y_train = pd.read_csv('https://raw.githubusercontent.com/Datamanim/datarepo/main/waters/y_train.csv')

x_test = pd.read_csv('https://raw.githubusercontent.com/Datamanim/datarepo/main/waters/x_test.csv')
y_test = pd.read_csv('https://raw.githubusercontent.com/Datamanim/datarepo/main/waters/y_test.csv')

In [4]:
display(x_train.head(3))
print(x_train.shape)

display(y_train.head(3))
print(y_train.shape)

display(x_test.head(3))
print(x_test.shape)

display(y_test.head(3))
print(y_test.shape)

,ID,ph,Hardness,Solids,Chloramines,Sulfate,Conductivity,Organic_carbon,Trihalomethanes,Turbidity
0,0,8.66271,173.531947,20333.079495,5.636388,439.787938,459.633120,16.283311,89.924253,5.120103
1,1,NaN,226.270824,15380.124079,6.661474,NaN,392.558205,14.083110,50.286395,4.516870
2,2,7.58377,217.283262,36343.407055,8.532726,375.964391,393.877683,17.442301,77.722257,3.642289

(2620, 10)

   ID  Potability
0   0           0
1   1           1
2   2           0

(2620, 2)

,ID,ph,Hardness,Solids,Chloramines,Sulfate,Conductivity,Organic_carbon,Trihalomethanes,Turbidity
0,16,4.891960,153.506232,9559.547392,7.847066,349.82439,496.872845,11.457624,61.110529,3.904270
1,20,8.357613,163.098254,34989.047081,7.696943,317.30168,404.492614,8.271882,67.598158,4.366242
2,23,8.246920,119.028215,7747.577263,9.124225,NaN,579.247674,13.001229,72.803734,4.096620

(656, 10)

   ID  Potability
0  16           0
1  20           1
2  23           1

(656, 2)

In [7]:
obj = x_train.select_dtypes(include='object').columns
num = x_train.select_dtypes(include='number').columns


print(obj)
print(num)

display(x_train[obj].head(3))
display(x_train[num].head(3))

Index([], dtype='object')
Index(['ID', 'ph', 'Hardness', 'Solids', 'Chloramines', 'Sulfate',
       'Conductivity', 'Organic_carbon', 'Trihalomethanes', 'Turbidity'],
      dtype='object')

Empty DataFrame
Columns: []
Index: [0, 1, 2]

,ID,ph,Hardness,Solids,Chloramines,Sulfate,Conductivity,Organic_carbon,Trihalomethanes,Turbidity
0,0,8.66271,173.531947,20333.079495,5.636388,439.787938,459.633120,16.283311,89.924253,5.120103
1,1,NaN,226.270824,15380.124079,6.661474,NaN,392.558205,14.083110,50.286395,4.516870
2,2,7.58377,217.283262,36343.407055,8.532726,375.964391,393.877683,17.442301,77.722257,3.642289

In [28]:
y_train['Potability'].value_counts()

0    1598
1    1022
Name: Potability, dtype: int64

In [8]:
print(x_train.isnull().sum())
print(x_test.isnull().sum())

ID                   0
ph                 395
Hardness             0
Solids               0
Chloramines          0
Sulfate            617
Conductivity         0
Organic_carbon       0
Trihalomethanes    132
Turbidity            0
dtype: int64
ID                   0
ph                 107
Hardness             0
Solids               0
Chloramines          0
Sulfate            152
Conductivity         0
Organic_carbon       0
Trihalomethanes     38
Turbidity            0
dtype: int64

In [9]:
x_train['ph'].describe()

count    2225.000000
mean        7.059707
std         1.608470
min         0.000000
25%         6.069364
50%         7.025504
75%         8.064653
max        14.000000
Name: ph, dtype: float64

In [10]:
x_train['Sulfate'].describe()

count    2003.000000
mean      333.128452
std        41.675257
min       129.000000
25%       307.592458
50%       332.239359
75%       358.967592
max       481.030642
Name: Sulfate, dtype: float64

In [11]:
temp = pd.concat([x_train.assign(ind='train'), x_test.assign(ind='test')])
display(temp.head(3))

,ID,ph,Hardness,Solids,Chloramines,Sulfate,Conductivity,Organic_carbon,Trihalomethanes,Turbidity,ind
0,0,8.66271,173.531947,20333.079495,5.636388,439.787938,459.633120,16.283311,89.924253,5.120103,train
1,1,NaN,226.270824,15380.124079,6.661474,NaN,392.558205,14.083110,50.286395,4.516870,train
2,2,7.58377,217.283262,36343.407055,8.532726,375.964391,393.877683,17.442301,77.722257,3.642289,train

In [12]:
temp['ph'] = temp['ph'].fillna(temp['ph'].mean())
temp['Sulfate'] = temp['Sulfate'].fillna(temp['Sulfate'].mean())
temp['Trihalomethanes'] = temp['Trihalomethanes'].fillna(temp['Trihalomethanes'].mean())

In [19]:
x_train = temp[temp['ind']=='train'].drop(columns=['ind'])
x_test = temp[temp['ind']=='test'].drop(columns=['ind'])

In [18]:
# 결측치 채운후 재확인

print(x_train.isnull().sum())
print(x_test.isnull().sum())

ID                 0
ph                 0
Hardness           0
Solids             0
Chloramines        0
Sulfate            0
Conductivity       0
Organic_carbon     0
Trihalomethanes    0
Turbidity          0
ind                0
dtype: int64
ID                 0
ph                 0
Hardness           0
Solids             0
Chloramines        0
Sulfate            0
Conductivity       0
Organic_carbon     0
Trihalomethanes    0
Turbidity          0
ind                0
dtype: int64

In [20]:
# 수치형 변수 전처리

from sklearn.preprocessing import StandardScaler

def do_Scaler(df):
  
  cols= ['ph', 'Hardness', 'Solids', 'Chloramines', 'Sulfate',
       'Conductivity', 'Organic_carbon', 'Trihalomethanes', 'Turbidity']

  for col in cols:
    Scaler = StandardScaler()
    df[col] = Scaler.fit_transform(df[col].values.reshape(-1,1))

  return df

In [22]:
x_train_s = do_Scaler(x_train)
display(x_train_s.head(3))

x_test_s = do_Scaler(x_test)
display(x_test_s.head(3))

,ID,ph,Hardness,Solids,Chloramines,Sulfate,Conductivity,Organic_carbon,Trihalomethanes,Turbidity
0,0,1.080692,-0.681415,-0.199183,-0.938954,2.925149,0.404649,0.607995,1.494962,1.476878
1,1,0.005633,0.899454,-0.759516,-0.293858,0.008466,-0.423540,-0.051770,-1.019970,0.699858
2,2,0.352633,0.630049,1.612082,0.883738,1.173220,-0.407248,0.955536,0.720773,-0.426683

,ID,ph,Hardness,Solids,Chloramines,Sulfate,Conductivity,Organic_carbon,Trihalomethanes,Turbidity
0,16,-1.415804,-1.240173,-1.360357,0.440837,0.425303,0.847486,-0.921097,-0.326141,-0.124713
1,20,0.803497,-0.966465,1.406804,0.346521,-0.493110,-0.297376,-1.922485,0.077941,0.482378
2,23,0.732612,-2.224001,-1.557530,1.243222,-0.034784,1.868352,-0.435890,0.402170,0.128059

In [32]:
from sklearn.model_selection import train_test_split

X_train_m, X_test_m, y_train_m, y_test_m = train_test_split(x_train_s.drop(columns=['ID']), y_train['Potability'],
                                                            test_size=0.3, random_state=2023)

print(X_train_m.shape)
print(X_test_m.shape)
print(y_train_m.shape)
print(y_test_m.shape)

(1834, 9)
(786, 9)
(1834,)
(786,)

In [33]:
from sklearn.ensemble import RandomForestClassifier

model = RandomForestClassifier()
model.fit(X_train_m, y_train_m)
pred = model.predict_proba(X_test_m)[:,1]

In [34]:
from sklearn.metrics import roc_auc_score

print(roc_auc_score(y_test_m, pred))

0.6772082364439052

In [29]:
# X_train_m, X_test_m, y_train_m, y_test_m = train_test_split(x_train_s.drop(columns=['ID', 'Sulfate']), y_train['Potability'],
#                                                             test_size=0.3, random_state=2023)

# print(X_train_m.shape)
# print(X_test_m.shape)
# print(y_train_m.shape)
# print(y_test_m.shape)

(1834, 8)
(786, 8)
(1834,)
(786,)

In [30]:
# model = RandomForestClassifier()
# model.fit(X_train_m, y_train_m)
# pred = model.predict_proba(X_test_m)[:,1]

In [31]:
# print(roc_auc_score(y_test_m, pred))

0.5838101978229366

In [39]:
model.fit(x_train_s.drop(columns=['ID']), y_train['Potability'])
prediction = model.predict_proba(x_test_s.drop(columns=['ID']))[:,1]

print(roc_auc_score(y_test['Potability'], prediction))

0.9999902874902874

In [45]:
temp = pd.DataFrame({'ID': x_test_s['ID'],'pred':model.predict(x_test_s.drop(columns=['ID'])), 'real': y_test['Potability']})
temp

       ID  pred  real
0      16     0     0
1      20     1     1
2      23     1     1
3      37     0     0
4      38     0     0
..    ...   ...   ...
651  3267     0     0
652  3269     0     0
653  3272     1     1
654  3273     1     1
655  3274     0     0

[656 rows x 3 columns]

In [47]:
temp.loc[temp['pred']!=temp['real']]

       ID  pred  real
67    350     0     1
265  1405     0     1
445  2303     0     1