<a href="https://colab.research.google.com/github/heyggun/bigdata_analysis_test/blob/main/DataManim_type2_Regression_case6.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# 작업형 2유형

## 회귀 Regression

https://www.datamanim.com/dataset/03_dataq/typetwo.html#id20

### 레드 와인 퀄리티 예측 데이터

- 데이터 설명 : 레드 와인 퀄리티 예측문제 (종속변수 :quality)
- x_train: https://raw.githubusercontent.com/Datamanim/datarepo/main/redwine/x_train.csv
- y_train: https://raw.githubusercontent.com/Datamanim/datarepo/main/redwine/y_train.csv
- x_test: https://raw.githubusercontent.com/Datamanim/datarepo/main/redwine/x_test.csv
- x_label(평가용) : https://raw.githubusercontent.com/Datamanim/datarepo/main/redwine/y_test.csv
- 데이터 출처 :https://www.kaggle.com/uciml/red-wine-quality-cortez-et-al-2009(참고, 데이터 수정)

In [2]:
import pandas as pd
import numpy as np

In [5]:
x_train = pd.read_csv('https://raw.githubusercontent.com/Datamanim/datarepo/main/redwine/x_train.csv')
y_train = pd.read_csv('https://raw.githubusercontent.com/Datamanim/datarepo/main/redwine/y_train.csv')
x_test = pd.read_csv('https://raw.githubusercontent.com/Datamanim/datarepo/main/redwine/x_test.csv')
y_test = pd.read_csv('https://raw.githubusercontent.com/Datamanim/datarepo/main/redwine/y_test.csv')

In [6]:
display(x_train.head(3))
print(x_train.shape)

display(x_test.head(3))
print(x_test.shape)

display(y_train.head(3))
print(y_train.shape)

display(y_test.head(3))
print(y_test.shape)

,ID,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol
0,1,10.6,0.44,0.68,4.1,0.114,6.0,24.0,0.99700,3.06,0.66,13.4
1,2,7.0,0.60,0.30,4.5,0.068,20.0,110.0,0.99914,3.30,1.17,10.2
2,3,8.0,0.43,0.36,2.3,0.075,10.0,48.0,0.99760,3.34,0.46,9.4

(1279, 12)

,ID,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol
0,0,7.5,0.38,0.57,2.3,0.106,5.0,12.0,0.99605,3.36,0.55,11.4
1,7,8.2,0.24,0.34,5.1,0.062,8.0,22.0,0.99740,3.22,0.94,10.9
2,12,7.7,0.75,0.27,3.8,0.110,34.0,89.0,0.99664,3.24,0.45,9.3

(320, 12)

   ID  quality
0   1        6
1   2        5
2   3        5

(1279, 2)

   ID  quality
0   0        6
1   7        6
2  12        5

(320, 2)

In [40]:
y_train['quality'].value_counts()

5    538
6    516
7    162
4     39
8     15
3      9
Name: quality, dtype: int64

In [9]:
obj = x_train.select_dtypes(include='object').columns
num = x_test.select_dtypes(include='number').columns

print(obj)
print(num)

print(len(num))

display(x_train[obj].head(3))
display(x_train[num].head(3))

Index([], dtype='object')
Index(['ID', 'fixed acidity', 'volatile acidity', 'citric acid',
       'residual sugar', 'chlorides', 'free sulfur dioxide',
       'total sulfur dioxide', 'density', 'pH', 'sulphates', 'alcohol'],
      dtype='object')
12

Empty DataFrame
Columns: []
Index: [0, 1, 2]

,ID,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol
0,1,10.6,0.44,0.68,4.1,0.114,6.0,24.0,0.99700,3.06,0.66,13.4
1,2,7.0,0.60,0.30,4.5,0.068,20.0,110.0,0.99914,3.30,1.17,10.2
2,3,8.0,0.43,0.36,2.3,0.075,10.0,48.0,0.99760,3.34,0.46,9.4

In [14]:
for col in num:
  display(x_train[col].describe())

count    1279.000000
mean      797.007819
std       465.696023
min         1.000000
25%       383.500000
50%       804.000000
75%      1201.500000
max      1598.000000
Name: ID, dtype: float64

count    1279.000000
mean        8.318530
std         1.762012
min         4.600000
25%         7.100000
50%         7.900000
75%         9.200000
max        15.900000
Name: fixed acidity, dtype: float64

count    1279.000000
mean        0.527346
std         0.175516
min         0.120000
25%         0.400000
50%         0.520000
75%         0.640000
max         1.580000
Name: volatile acidity, dtype: float64

count    1279.000000
mean        0.271439
std         0.196058
min         0.000000
25%         0.100000
50%         0.250000
75%         0.430000
max         1.000000
Name: citric acid, dtype: float64

count    1279.000000
mean        2.539406
std         1.370279
min         0.900000
25%         1.900000
50%         2.200000
75%         2.600000
max        15.400000
Name: residual sugar, dtype: float64

count    1279.000000
mean        0.087201
std         0.045805
min         0.012000
25%         0.070000
50%         0.079000
75%         0.091000
max         0.610000
Name: chlorides, dtype: float64

count    1279.000000
mean       15.825645
std        10.376335
min         1.000000
25%         8.000000
50%        14.000000
75%        21.000000
max        72.000000
Name: free sulfur dioxide, dtype: float64

count    1279.000000
mean       46.627052
std        33.362436
min         6.000000
25%        22.000000
50%        38.000000
75%        62.000000
max       289.000000
Name: total sulfur dioxide, dtype: float64

count    1279.000000
mean        0.996724
std         0.001877
min         0.990070
25%         0.995600
50%         0.996720
75%         0.997845
max         1.003690
Name: density, dtype: float64

count    1279.000000
mean        3.309836
std         0.157000
min         2.740000
25%         3.210000
50%         3.310000
75%         3.400000
max         4.010000
Name: pH, dtype: float64

count    1279.000000
mean        0.657381
std         0.169051
min         0.370000
25%         0.550000
50%         0.620000
75%         0.730000
max         2.000000
Name: sulphates, dtype: float64

count    1279.000000
mean       10.437217
std         1.077625
min         8.400000
25%         9.500000
50%        10.200000
75%        11.100000
max        14.900000
Name: alcohol, dtype: float64

In [28]:
from sklearn.preprocessing import StandardScaler, MinMaxScaler

def do_Scaler(df):
  cols = ['fixed acidity', 'volatile acidity', 'citric acid',
       'residual sugar', 'chlorides', 'free sulfur dioxide',
       'total sulfur dioxide', 'density', 'pH', 'sulphates', 'alcohol']

  for col in cols:
    Scaler = MinMaxScaler()
    df[col] = Scaler.fit_transform(df[col].values.reshape(-1,1))

  return df

In [29]:
x_train_s = do_Scaler(x_train)
display(x_train_s.head(3))

x_test_s = do_Scaler(x_test)
display(x_test_s.head(3))

,ID,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol
0,1,0.530973,0.219178,0.68,0.220690,0.170569,0.070423,0.063604,0.508811,0.251969,0.177914,0.769231
1,2,0.212389,0.328767,0.30,0.248276,0.093645,0.267606,0.367491,0.665932,0.440945,0.490798,0.276923
2,3,0.300885,0.212329,0.36,0.096552,0.105351,0.126761,0.148410,0.552863,0.472441,0.055215,0.153846

,ID,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol
0,0,0.373134,0.154930,0.730769,0.077465,0.180371,0.031746,0.035714,0.356361,0.424779,0.187500,0.568627
1,7,0.477612,0.056338,0.435897,0.274648,0.063660,0.079365,0.107143,0.470093,0.300885,0.593750,0.470588
2,12,0.402985,0.415493,0.346154,0.183099,0.190981,0.492063,0.585714,0.406066,0.318584,0.083333,0.156863

In [35]:
from sklearn.model_selection import train_test_split

X_train_m, X_test_m, y_train_m, y_test_m = train_test_split(x_test_s.drop(columns=['ID']), y_test['quality'],
                                                            test_size=0.3)

print(X_train_m.shape)
print(X_test_m.shape)
print(y_train_m.shape)
print(y_test_m.shape)

(224, 11)
(96, 11)
(224,)
(96,)

In [36]:
from sklearn.ensemble import RandomForestRegressor
from sklearn.ensemble import AdaBoostRegressor

In [37]:
model = RandomForestRegressor()
ada_model = AdaBoostRegressor()

In [38]:
from sklearn.metrics import r2_score, mean_squared_error

In [39]:
model.fit(X_train_m, y_train_m)
prediction = model.predict(X_test_m)

print(r2_score(y_test_m, prediction))

0.40748774978279745