<a href="https://colab.research.google.com/github/heyggun/bigdata_analysis_test/blob/main/DataManim_%EB%AA%A8%EC%9D%981.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# 모의 1

## 작업 1유형

### 은행의 전화 마케팅에 대한 고객의 반응 여부

- 데이터 출처 : https://archive.ics.uci.edu/ml/datasets/Bank+Marketing (후처리 작업)
데이터 설명 : 은행의 전화 마케팅에 대해 고객의 반응 여부
- dataurl : https://raw.githubusercontent.com/Datamanim/datarepo/main/bank/train.csv

In [1]:
import pandas as pd
import numpy as np

In [2]:
DataURL = 'https://raw.githubusercontent.com/Datamanim/datarepo/main/bank/train.csv'

df= pd.read_csv(DataURL)
display(df.head(3))
df.shape

,ID,age,job,marital,education,default,balance,housing,loan,contact,day,month,campaign,pdays,previous,poutcome,y
0,13829,29,technician,single,tertiary,no,18254,no,no,cellular,11,may,2,-1,0,unknown,no
1,22677,26,services,single,secondary,no,512,yes,yes,unknown,5,jun,3,-1,0,unknown,no
2,10541,30,management,single,secondary,no,135,no,no,cellular,14,aug,2,-1,0,unknown,no

(12870, 17)

Q1. 마케팅 응답 고객들의 나이를 10살 단위로 변환 했을 때, 가장 많은 인원을 가진 나이대는? (0-9 : 0 , 10-19 : 10)

In [3]:
df['age'].apply(lambda x: (x//10)*10).value_counts().index[0]

30

Q2. 마케팅 응답 고객들의 나이를 10살 단위로 변환 했을 때, 가장 많은 나이대 구간의 인원은 몇명인가?

In [4]:
df['age'].apply(lambda x: (x//10)*10).value_counts().values[0]

5056

Q3. 나이가 25살 이상 29살 미만인 응답 고객들중 housing컬럼의 값이 yes인 고객의 수는?

In [5]:
temp = df.loc[(df['age']>=25) & (df['age']<29)]
temp.loc[temp['housing']=='yes'].shape[0]

504

Q4. numeric한 값을 가지지 않은 컬럼들중 unique한 값을 가장 많이 가지는 컬럼은?

In [6]:
obj = df.select_dtypes(exclude='number').columns

df[obj].nunique().index[0]

'job'

Q5. balance 컬럼값들의 평균값 이상을 가지는 데이터를 ID값을 기준으로 내림차순 정렬했을때 상위 100개 데이터의 balance값의 평균은?

In [7]:
df.loc[df['balance']>=df['balance'].mean()].sort_values(by='ID', ascending=False).iloc[:100]['balance'].mean()

3473.73

Q6. 가장 많은 광고를 집행했던 날짜는 언제인가? (데이터 그대로 일(숫자),달(영문)으로 표기)

In [8]:
df.columns

Index(['ID', 'age', 'job', 'marital', 'education', 'default', 'balance',
       'housing', 'loan', 'contact', 'day', 'month', 'campaign', 'pdays',
       'previous', 'poutcome', 'y'],
      dtype='object')

In [9]:
df[['day','month']].value_counts().index[0]

(15, 'may')

Q7. 데이터의 job이 unknown 상태인 고객들의 age 컬럼 값의 정규성을 검정하고자 한다. 샤피로 검정의 p-value값을 구하여라

In [10]:
from scipy.stats import shapiro

shapiro(df.loc[df['job']=='unknown']['age'])[1]

0.1961131989955902

Q8. age와 balance의 상관계수를 구하여라

In [11]:
df[['age','balance']].corr().iloc[0,1]

0.10198734763981462

Q9. y 변수와 education 변수는 독립인지 카이제곱검정을 통해 확인하려한다. p-value값을 출력하라

In [12]:
temp = pd.crosstab(df['y'], df['education'])
display(temp)

education  primary  secondary  tertiary  unknown
y
no            1424       4555      2559      365
yes            456       1813      1516      182

In [13]:
from scipy.stats import chi2_contingency
chi2, p, dof, expected = chi2_contingency(temp)
print(p)

7.901201277473551e-29

Q10. 각 job에 따라 divorced/married 인원의 비율을 확인 했을 때 그 값이 가장 높은 값은?

In [14]:
tmp = df.groupby(['job','marital']).size().reset_index()
tmp.head(3)

      job   marital    0
0  admin.  divorced  207
1  admin.   married  762
2  admin.    single  495

In [15]:
pivotdf = tmp.pivot_table(index='job', columns='marital')[0]
pivotdf = pivotdf.fillna(0)
pivotdf['ratio'] = pivotdf['divorced']/pivotdf['married']

display(pivotdf.head(3))

marital       divorced  married  single     ratio
job
admin.           207.0    762.0   495.0  0.271654
blue-collar      205.0   1775.0   591.0  0.115493
entrepreneur      44.0    272.0    67.0  0.161765

In [16]:
pivotdf.sort_values('ratio', ascending=False)['ratio'][0]

0.2831050228310502

## 작업 2유형

- 데이터 출처 : https://archive.ics.uci.edu/ml/datasets/Bank+Marketing (후처리 작업)
데이터 설명 : 은행의 전화 마케팅에 대해 고객의 반응 여부

- train : https://raw.githubusercontent.com/Datamanim/datarepo/main/bank/train.csv
- test : https://raw.githubusercontent.com/Datamanim/datarepo/main/bank/test.csv
- submission : https://raw.githubusercontent.com/Datamanim/datarepo/main/bank/submission.csv

In [17]:
train = pd.read_csv('https://raw.githubusercontent.com/Datamanim/datarepo/main/bank/train.csv')
test = pd.read_csv('https://raw.githubusercontent.com/Datamanim/datarepo/main/bank/test.csv')
submission = pd.read_csv('https://raw.githubusercontent.com/Datamanim/datarepo/main/bank/submission.csv')

In [18]:
display(train.head(3))
print(train.shape)

display(test.head(3))
print(test.shape)

display(submission.head(3))
print(submission.shape)

,ID,age,job,marital,education,default,balance,housing,loan,contact,day,month,campaign,pdays,previous,poutcome,y
0,13829,29,technician,single,tertiary,no,18254,no,no,cellular,11,may,2,-1,0,unknown,no
1,22677,26,services,single,secondary,no,512,yes,yes,unknown,5,jun,3,-1,0,unknown,no
2,10541,30,management,single,secondary,no,135,no,no,cellular,14,aug,2,-1,0,unknown,no

(12870, 17)

,ID,age,job,marital,education,default,balance,housing,loan,contact,day,month,campaign,pdays,previous,poutcome
0,53608,32,management,single,tertiary,no,12569,no,no,cellular,1,jul,2,295,2,success
1,51055,25,services,single,secondary,no,801,no,no,cellular,5,jun,2,-1,0,unknown
2,52573,46,blue-collar,married,secondary,no,1728,yes,no,unknown,26,may,2,-1,0,unknown

(4291, 16)

      ID  predict
0  53608      0.0
1  51055      0.0
2  52573      0.0

(4291, 2)

In [19]:
train.columns

Index(['ID', 'age', 'job', 'marital', 'education', 'default', 'balance',
       'housing', 'loan', 'contact', 'day', 'month', 'campaign', 'pdays',
       'previous', 'poutcome', 'y'],
      dtype='object')

In [20]:
test.columns

Index(['ID', 'age', 'job', 'marital', 'education', 'default', 'balance',
       'housing', 'loan', 'contact', 'day', 'month', 'campaign', 'pdays',
       'previous', 'poutcome'],
      dtype='object')

In [21]:
train['y'].value_counts()

no     8903
yes    3967
Name: y, dtype: int64

In [22]:
# 결측치 확인

train.isna().sum()

ID           0
age          0
job          0
marital      0
education    0
default      0
balance      0
housing      0
loan         0
contact      0
day          0
month        0
campaign     0
pdays        0
previous     0
poutcome     0
y            0
dtype: int64

In [23]:
obj = train.select_dtypes(include='object').columns
num = train.select_dtypes(include='number').columns


print(obj)
print(num)

Index(['job', 'marital', 'education', 'default', 'housing', 'loan', 'contact',
       'month', 'poutcome', 'y'],
      dtype='object')
Index(['ID', 'age', 'balance', 'day', 'campaign', 'pdays', 'previous'], dtype='object')

In [24]:
Train = train.drop(columns=['ID'])
X_train = Train.drop(columns=['y'])
y_train = Train['y']
Test = test.drop(columns=['ID'])

In [25]:
# 범주형 전처리

from sklearn.preprocessing import LabelEncoder

def Label_Encoder(df):

  cols = ['job','marital','education','default','housing','loan', 'contact', 
          'month','poutcome']

  for col in cols:
    le = LabelEncoder()
    df[col] = le.fit_transform(df[col])

  return df

In [26]:
X_trains = Label_Encoder(X_train)
display(X_trains.head(3))
X_tests = Label_Encoder(Test)
display(X_tests.head(3))

,age,job,marital,education,default,balance,housing,loan,contact,day,month,campaign,pdays,previous,poutcome
0,29,9,2,2,0,18254,0,0,0,11,8,2,-1,0,3
1,26,7,2,1,0,512,1,1,2,5,6,3,-1,0,3
2,30,4,2,1,0,135,0,0,0,14,1,2,-1,0,3

,age,job,marital,education,default,balance,housing,loan,contact,day,month,campaign,pdays,previous,poutcome
0,32,4,2,2,0,12569,0,0,0,1,5,2,295,2,2
1,25,7,2,1,0,801,0,0,0,5,6,2,-1,0,3
2,46,1,1,1,0,1728,1,0,2,26,8,2,-1,0,3

In [27]:
# 수치형 전처리

from sklearn.preprocessing import StandardScaler

Scaler = StandardScaler()

X_train_s = Scaler.fit_transform(X_trains)
X_test_s = Scaler.fit_transform(X_tests)

In [28]:
# 모델링을 위한 split


from sklearn.model_selection import train_test_split

X_train_m, X_test_m, y_train_m, y_test_m = train_test_split(X_trains, y_train,
                                                            test_size=0.3,
                                                            random_state=1234)

print(X_train_m.shape)
print(X_test_m.shape)
print(y_train_m.shape)
print(y_test_m.shape)

(9009, 15)
(3861, 15)
(9009,)
(3861,)

In [29]:
# 모델링

from sklearn.ensemble import RandomForestClassifier

model = RandomForestClassifier()
model.fit(X_train_m, y_train_m)
pred = model.predict_proba(X_test_m)[:,1]
print(pred)

[0.06 0.15 0.14 ... 0.5  0.03 0.1 ]

In [30]:
# 평가

from sklearn.metrics import roc_auc_score

print(roc_auc_score(y_test_m, pred))

0.7668297930554174

In [31]:
pred

array([0.06, 0.15, 0.14, ..., 0.5 , 0.03, 0.1 ])

In [32]:
model.fit(X_trains, y_train)
prediction = model.predict_proba(X_test_s)[:,1]
prediction

/usr/local/lib/python3.7/dist-packages/sklearn/base.py:451: UserWarning: X does not have valid feature names, but RandomForestClassifier was fitted with feature names
  "X does not have valid feature names, but"

array([0.4 , 0.36, 0.24, ..., 0.38, 0.39, 0.41])

In [33]:
submission['predict']= prediction
submission

         ID  predict
0     53608     0.40
1     51055     0.36
2     52573     0.24
3     50458     0.32
4     52272     0.33
...     ...      ...
4286  50332     0.36
4287  51293     0.38
4288  54023     0.38
4289  53775     0.39
4290  51945     0.41

[4291 rows x 2 columns]