<a href="https://colab.research.google.com/github/heyggun/bigdata_analysis_test/blob/main/DataManim_type1_case5.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# 작업형 1유형
https://www.datamanim.com/dataset/03_dataq/typeone.html#id21

In [4]:
import pandas as pd
import numpy as np

## 사기회사 분류 데이터

- 데이터 출처 :https://www.kaggle.com/sid321axn/audit-data(참고, 데이터 수정)
데이터 설명 : 사기회사 분류
- Data url :https://raw.githubusercontent.com/Datamanim/datarepo/main/audit/train.csv

In [5]:
DataUrl = 'https://raw.githubusercontent.com/Datamanim/datarepo/main/audit/train.csv'
df= pd.read_csv(DataUrl)
display(df.head(3))

,Sector_score,LOCATION_ID,PARA_A,Score_A,Risk_A,PARA_B,Score_B,Risk_B,TOTAL,numbers,...,RiSk_E,History,Prob,Risk_F,Score,Inherent_Risk,CONTROL_RISK,Detection_Risk,Audit_Risk,Risk
0,2.72,14,4.53,0.6,2.718,87.93,0.6,52.758,92.46,5.0,...,0.4,0,0.2,0.0,4.0,108.362,0.4,0.5,21.6724,1
1,3.41,16,12.68,0.6,7.608,41.00,0.6,24.600,53.68,5.5,...,0.4,0,0.2,0.0,4.4,41.936,0.4,0.5,8.3872,1
2,2.72,11,3.11,0.6,1.866,113.97,0.6,68.382,117.08,5.5,...,0.4,0,0.2,0.0,4.4,88.832,0.4,0.5,17.7664,1

Q. 데이터의 Risk 값에 따른 score_a와 score_b의 평균값을 구하여라

In [6]:
df.columns

Index(['Sector_score', 'LOCATION_ID', 'PARA_A', 'Score_A', 'Risk_A', 'PARA_B',
       'Score_B', 'Risk_B', 'TOTAL', 'numbers', 'Score_B.1', 'Risk_C',
       'Money_Value', 'Score_MV', 'Risk_D', 'District_Loss', 'PROB', 'RiSk_E',
       'History', 'Prob', 'Risk_F', 'Score', 'Inherent_Risk', 'CONTROL_RISK',
       'Detection_Risk', 'Audit_Risk', 'Risk'],
      dtype='object')

In [16]:
df['Risk'].value_counts()

0    376
1    244
Name: Risk, dtype: int64

In [19]:
df.groupby('Risk')[['Score_A','Score_B']].mean()

       Score_A   Score_B
Risk
0     0.262234  0.225532
1     0.490164  0.444262

## 센서데이터 동작유형 분류 데이터

- 데이터 출처 :https://www.kaggle.com/kyr7plus/emg-4(참고, 데이터 수정)
데이터 설명 : 센서데이터로 동작 유형 분류

- Data url :https://raw.githubusercontent.com/Datamanim/datarepo/main/muscle/train.csv

In [21]:
DataUrl = 'https://raw.githubusercontent.com/Datamanim/datarepo/main/muscle/train.csv'

df = pd.read_csv(DataUrl)
display(df.head(3))

,motion_0,motion_1,motion_2,motion_3,motion_4,motion_5,motion_6,motion_7,motion_8,motion_9,...,motion_55,motion_56,motion_57,motion_58,motion_59,motion_60,motion_61,motion_62,motion_63,pose
0,-6.0,8.0,5.0,6.0,-12.0,-27.0,5.0,24.0,-8.0,-5.0,...,-1.0,-3.0,-6.0,-9.0,-7.0,36.0,68.0,3.0,-3.0,1
1,-32.0,-3.0,-4.0,-5.0,-1.0,16.0,0.0,-5.0,42.0,2.0,...,-17.0,-12.0,-1.0,-1.0,0.0,-26.0,-11.0,-4.0,-9.0,1
2,35.0,-2.0,-1.0,1.0,-25.0,-16.0,-3.0,-20.0,10.0,1.0,...,6.0,-65.0,6.0,-10.0,-31.0,-19.0,-3.0,-47.0,-17.0,0

Q. pose값에 따른 각 motion컬럼의 중간값의 가장 큰 차이를 보이는 motion컬럼은 어디이며 그값은?

In [23]:
df.columns

Index(['motion_0', 'motion_1', 'motion_2', 'motion_3', 'motion_4', 'motion_5',
       'motion_6', 'motion_7', 'motion_8', 'motion_9', 'motion_10',
       'motion_11', 'motion_12', 'motion_13', 'motion_14', 'motion_15',
       'motion_16', 'motion_17', 'motion_18', 'motion_19', 'motion_20',
       'motion_21', 'motion_22', 'motion_23', 'motion_24', 'motion_25',
       'motion_26', 'motion_27', 'motion_28', 'motion_29', 'motion_30',
       'motion_31', 'motion_32', 'motion_33', 'motion_34', 'motion_35',
       'motion_36', 'motion_37', 'motion_38', 'motion_39', 'motion_40',
       'motion_41', 'motion_42', 'motion_43', 'motion_44', 'motion_45',
       'motion_46', 'motion_47', 'motion_48', 'motion_49', 'motion_50',
       'motion_51', 'motion_52', 'motion_53', 'motion_54', 'motion_55',
       'motion_56', 'motion_57', 'motion_58', 'motion_59', 'motion_60',
       'motion_61', 'motion_62', 'motion_63', 'pose'],
      dtype='object')

In [25]:
df['pose'].value_counts()

0    2328
1    2322
Name: pose, dtype: int64

In [41]:
temp = df.groupby('pose').median().transpose()

abs(temp[0]-temp[1]).sort_values(ascending=False).index[0]

'motion_54'

## 현대 차량 가격 분류문제 데이터

- 데이터 출처 :https://www.kaggle.com/mysarahmadbhat/hyundai-used-car-listing(참고, 데이터 수정)
데이터 설명 : 현대 차량가격 분류문제
- Data url :https://raw.githubusercontent.com/Datamanim/datarepo/main/hyundai/train.csv

In [42]:
DataUrl = 'https://raw.githubusercontent.com/Datamanim/datarepo/main/hyundai/train.csv'

df= pd.read_csv(DataUrl)
display(df.head(3))

,model,year,price,transmission,mileage,fuelType,tax(£),mpg,engineSize
0,Tucson,2016,12795,Manual,36263,Diesel,30,61.7,1.7
1,I10,2012,3995,Manual,22089,Petrol,20,61.4,1.2
2,I30,2019,24000,Manual,555,Petrol,145,34.0,2.0

Q. 정보(row수)가 가장 많은 상위 3차종의 price 값의 각 평균값은?

In [43]:
df.columns

Index(['model', 'year', 'price', 'transmission', 'mileage', 'fuelType',
       'tax(£)', 'mpg', 'engineSize'],
      dtype='object')

In [52]:
best = df['model'].value_counts().index[:3]

df.loc[df['model'].isin(best)].groupby('model')['price'].mean()

model
 I10        7646.137891
 I30       11651.821759
 Tucson    15805.441373
Name: price, dtype: float64

## 당뇨 여부 판단 데이터

- 데이터 출처 :https://www.kaggle.com/pritsheta/diabetes-dataset(참고, 데이터 수정)
데이터 설명 : 당뇨여부 판단하기
- Data url :https://raw.githubusercontent.com/Datamanim/datarepo/main/diabetes/train.csv

In [53]:
DataUrl = 'https://raw.githubusercontent.com/Datamanim/datarepo/main/diabetes/train.csv'

df = pd.read_csv(DataUrl)
display(df.head(3))

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
0,3,102,74,0,0,29.5,0.121,32,0
1,2,144,58,33,135,31.6,0.422,25,1
2,5,136,82,0,0,0.0,0.640,69,0

Q. Outcome 값에 따른 각 그룹의 각 컬럼의 평균 차이를 구하여라

In [54]:
df.columns

Index(['Pregnancies', 'Glucose', 'BloodPressure', 'SkinThickness', 'Insulin',
       'BMI', 'DiabetesPedigreeFunction', 'Age', 'Outcome'],
      dtype='object')

In [55]:
df['Outcome'].value_counts()

0    400
1    214
Name: Outcome, dtype: int64

In [59]:
temp = df.groupby('Outcome').mean().transpose()
abs(temp[0] - temp[1])

Pregnancies                  1.574159
Glucose                     29.943995
BloodPressure                3.202079
SkinThickness                2.952033
Insulin                     33.398645
BMI                          4.541437
DiabetesPedigreeFunction     0.143646
Age                          5.866939
dtype: float64

## 넷플릭스 주식 데이터

- 데이터 출처 :https://www.kaggle.com/pritsheta/netflix-stock-data-from-2002-to-2021(참고, 데이터 수정)
데이터 설명 : 넷플릭스 주식데이터

- Data url :https://raw.githubusercontent.com/Datamanim/datarepo/main/nflx/NFLX.csv

In [60]:
DataUrl = 'https://raw.githubusercontent.com/Datamanim/datarepo/main/nflx/NFLX.csv'

df= pd.read_csv(DataUrl)
display(df.head(5))

         Date      Open      High       Low     Close  Adj Close     Volume
0  2002-05-23  1.156429  1.242857  1.145714  1.196429   1.196429  104790000
1  2002-05-24  1.214286  1.225000  1.197143  1.210000   1.210000   11104800
2  2002-05-28  1.213571  1.232143  1.157143  1.157143   1.157143    6609400
3  2002-05-29  1.164286  1.164286  1.085714  1.103571   1.103571    6757800
4  2002-05-30  1.107857  1.107857  1.071429  1.071429   1.071429   10154200

Q. 매년 5월달의 open 가격의 평균값을 데이터 프레임으로 표현

In [61]:
df['Date'] = pd.to_datetime(df['Date'])

In [82]:
temp = df[df['Date'].dt.month==5]
temp['Date'] = temp['Date'].apply(lambda x : str(x)[:7])
temp.groupby('Date')['Open'].mean()

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

Date
2002-05      1.155833
2003-05      1.641497
2004-05      4.261143
2005-05      1.951905
2006-05      4.163571
2007-05      3.159351
2008-05      4.435034
2009-05      5.790571
2010-05     14.417071
2011-05     34.650272
2012-05     10.523247
2013-05     31.936429
2014-05     51.121292
2015-05     85.057429
2016-05     92.705715
2017-05    158.255455
2018-05    329.779541
2019-05    359.664548
2020-05    433.880499
2021-05    496.923996
Name: Open, dtype: float64

In [86]:
temp = df.groupby(df['Date'].dt.strftime('%Y-%m')).mean()
temp.loc[temp.index.str.contains('-05')]['Open']

Date
2002-05      1.155833
2003-05      1.641497
2004-05      4.261143
2005-05      1.951905
2006-05      4.163571
2007-05      3.159351
2008-05      4.435034
2009-05      5.790571
2010-05     14.417071
2011-05     34.650272
2012-05     10.523247
2013-05     31.936429
2014-05     51.121292
2015-05     85.057429
2016-05     92.705715
2017-05    158.255455
2018-05    329.779541
2019-05    359.664548
2020-05    433.880499
2021-05    496.923996
Name: Open, dtype: float64