<a href="https://colab.research.google.com/github/heyggun/bigdata_analysis_test/blob/main/DataManim_%EB%AA%A8%EC%9D%981.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# 모의 1

## 작업 1유형

### 은행의 전화 마케팅에 대한 고객의 반응 여부

- 데이터 출처 : https://archive.ics.uci.edu/ml/datasets/Bank+Marketing (후처리 작업)
데이터 설명 : 은행의 전화 마케팅에 대해 고객의 반응 여부
- dataurl : https://raw.githubusercontent.com/Datamanim/datarepo/main/bank/train.csv

In [2]:
import pandas as pd
import numpy as np

In [5]:
DataURL = 'https://raw.githubusercontent.com/Datamanim/datarepo/main/bank/train.csv'

df= pd.read_csv(DataURL)
display(df.head(3))
df.shape

,ID,age,job,marital,education,default,balance,housing,loan,contact,day,month,campaign,pdays,previous,poutcome,y
0,13829,29,technician,single,tertiary,no,18254,no,no,cellular,11,may,2,-1,0,unknown,no
1,22677,26,services,single,secondary,no,512,yes,yes,unknown,5,jun,3,-1,0,unknown,no
2,10541,30,management,single,secondary,no,135,no,no,cellular,14,aug,2,-1,0,unknown,no

(12870, 17)

Q1. 마케팅 응답 고객들의 나이를 10살 단위로 변환 했을 때, 가장 많은 인원을 가진 나이대는? (0-9 : 0 , 10-19 : 10)

In [8]:
df['age'].apply(lambda x: (x//10)*10).value_counts().index[0]

30

Q2. 마케팅 응답 고객들의 나이를 10살 단위로 변환 했을 때, 가장 많은 나이대 구간의 인원은 몇명인가?

In [11]:
df['age'].apply(lambda x: (x//10)*10).value_counts().values[0]

5056

Q3. 나이가 25살 이상 29살 미만인 응답 고객들중 housing컬럼의 값이 yes인 고객의 수는?

In [18]:
temp = df.loc[(df['age']>=25) & (df['age']<29)]
temp.loc[temp['housing']=='yes'].shape[0]

504

Q4. numeric한 값을 가지지 않은 컬럼들중 unique한 값을 가장 많이 가지는 컬럼은?

In [15]:
obj = df.select_dtypes(exclude='number').columns

df[obj].nunique().index[0]

'job'

Q5. balance 컬럼값들의 평균값 이상을 가지는 데이터를 ID값을 기준으로 내림차순 정렬했을때 상위 100개 데이터의 balance값의 평균은?

In [25]:
df.loc[df['balance']>=df['balance'].mean()].sort_values(by='ID', ascending=False).iloc[:100]['balance'].mean()

3473.73

Q6. 가장 많은 광고를 집행했던 날짜는 언제인가? (데이터 그대로 일(숫자),달(영문)으로 표기)

In [1]:
df.columns

NameError: ignored